[2015-06-08 13:25] twiecki opened #1 "PEP8 and unify codebase"
Use e.g. `autopep8` to make the syntax correspond to pep8.

Also, the functions use different naming conventions, change all to use `underscore_style` rather than `camelCase`.

[2015-06-08 13:26] twiecki opened #2 "Remove obsolete code"
I already went through and deleted some obvious cases but I bet there is more stale code lying around.

[2015-06-08 13:28] twiecki opened #3 "Write doc strings for functions"
Every function should have a doc string (in the `numpy` format https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt) explaining what it does, the arguments it takes and what those do as well as what it returns. Preferably with a small example code snippet.

[2015-06-08 13:32] twiecki opened #4 "Write unittests"
The more each function is tested the better.

The question arises as to how to define ground truth. `zipline` does this via an `excel` spreadsheet and we could copy that approach but it's a bit cumbersome. Finding some small cases where the truth can be calculated manually would be a better first step.

Once that is in place we should activate `travis`.

[2015-06-08 13:37] twiecki opened #5 "Port over tear sheet"
Most of the code that actually creates the tearsheet lives in https://github.com/quantopian/quant_notebooks/blob/master/analyses/algo_tear_sheet_contest.ipynb. We should refactor that NB in a major way so that the one huge function is broken up into individual plots. Then the tear sheet would just call the individual functions.

[2015-06-08 13:39] twiecki opened #6 "Examine get_backtest() format and make quantrisk compat"
`get_backtest()` on the quantopian research platform (QRP) returns backtest results, positions and transactions. For `quantrisk` to be useful on the QRP, it has to work with that format.

I imagine this could go 2 ways. Either we switch internally to always use that format if it's convenient, or we transform whatever `get_backtest()` returns.

[2015-06-08 13:41] twiecki opened #7 "Adapt quant_notebooks NBs to use quantrisk"
For the time being, `quant_notebooks` will depend on the internal `quant_utils` repo. Once things stabilize over here we should make a concerted effort to port all our NBs over to use this new library. The overlapping parts in `quant_utils` will then get removed.

New things should, however, go into quantrisk.

[2015-06-08 13:47] twiecki opened #8 "Create aliases in quant_utils to quantrisk"
It will be a bit tricky in the interim period where we still have both libraries side-by-side. We definitely don't want to have to fix bugs twice.

One proposal is to first remove the functions in `quant_utils` that are overlapping, and then do a selective import from `quantrisk`.

If a function with the same name and call signature now exists in `quantrisk`, remove it from `quant_utils` and add a

[2015-06-08 15:59] twiecki opened #9 "Add quantrisk to the internal research server"
Once `quantrisk` is in an installable state, we should add it to research so that we can start to remove chunks from `quant_utils` that are overlapping.

[2015-06-12 17:27] twiecki opened #10 "Fix underwater plot to have net %"

[2015-06-12 17:27] twiecki opened #11 "When computing cash, subtract shorted $"

[2015-06-12 18:15] Jstauth opened #12 "add visualization of average number of holdings by month"
the number of holdings plotted daily can be difficult to read over a long backtest period.

[2015-06-12 18:17] Jstauth opened #13 "add plot for average monthly turnover"
same logic as issue #12 the daily plot is hard to read

[2015-06-12 18:18] Jstauth opened #14 "use qgrid or some other scrollable table to display full list of positions"
with the full list of holdings from all time is a large list (>10 or so) it doesn't show up nicely in the tearsheet.

[2015-06-12 18:19] Jstauth opened #15 "add table for top 10/bottom 10 winners/losers"
Table: Top and Bottom 10 holdings by contribution to performance ever, and per year (long, short, overall) - performance is over the time position was held in portfolio.

Performance, weight and relative contribution for top 10 holdings, ranked from largest contribution to smallest

"best" and "worst" positions basically

[2015-06-12 18:23] Jstauth opened #16 "add traditional single factor betas"
first off we need to define which sids we want to use to proxy these - i think i said I'd do that, but if @justinlent wants to weigh in please do!

Traditional single factor betas: Equity, Bonds, Credit, Gold, Crude Oil, Volatility

[2015-06-12 18:25] Jstauth opened #17 "add sector exposure/ sector breakout analysis"
need to find a way to link up MS asset classifications, or some other external data source to do this one.

Sectors (10-GIC levels to start, or whatever similar we have from Morningstar)
Table: Per year and overall sector weight longs, shorts, net, absolute and relative performance of each
Plot (timeseries): portfolio weight in each sector over time

[2015-06-13 10:16] twiecki opened #18 "Investigate dash interface"
plotly is building on a cool dashboard (that can also be used without plotly) here: https://github.com/chriddyp/dash

Could be great to integrate that.

[2015-06-15 10:13] #11 closed, assigned to twiecki

[2015-06-15 10:26] #10 closed, assigned to twiecki

[2015-06-15 13:17] #2 closed, assigned to justinlent

[2015-06-15 14:55] gusgordon opened #19 "Distill internal functions"
Some functions are only useful to people with access to quantopian's DB. These should be distilled out into a separate file. Later, we can worry about how these internal tools are made available.

[2015-06-15 17:59] adzuci opened #20 "test"

[2015-06-15 18:00] #20 closed, assigned to nobody

[2015-06-15 21:11] #19 closed, assigned to gusgordon

[2015-06-16 14:30] justinlent opened #21 "underwater function not checking whether there actually is a recovery from a drawdown"
(moved over From quantnotebooks)

E.g. expression to reproduce:

df_rets, df_pos, df_txn = get_and_analyze_algo('54c90d32896ec780f20003b5', contest='MEGARUN_1',plot_risk_factors=False, plot_volatility_betas=False)

![image](https://cloud.githubusercontent.com/assets/6541022/8185479/8999909e-13f9-11e5-977e-86ee81da9a1b.png)

[2015-06-17 11:19] #21 closed, assigned to twiecki

[2015-06-18 14:01] justinlent opened #22 "add 'auto-hedged' portfolio to tearsheet cumulative returns plot"
assume you hedge the algo with its rolling 6-month SPY beta everyday to see if it improves sharpe ratio of the algo. plot it on the Cumulative Returns chart along with the algo and the benchmarks

[2015-06-18 14:04] justinlent opened #23 "support comparison of multiple algorithms in the same tear sheet"
just assuming equal-weight of each algo for phase 1 implementation is acceptable

[2015-06-18 16:34] #5 closed, assigned to gusgordon

[2015-06-22 16:44] #12 closed, assigned to nobody

[2015-06-22 17:57] gusgordon opened #24 "Add win/loss analysis"
Might be useful to have a breakdown of win/loss percentage

[2015-06-22 20:18] gusgordon opened #25 "Support less/more benchmarks"
Allow users to pass in different amounts of benchmarks besides 2, most likely just in the cumulative returns plot

[2015-06-22 20:39] #13 closed, assigned to nobody

[2015-06-23 16:26] #1 closed, assigned to gusgordon

[2015-06-24 07:58] twiecki opened #26 "Make standalone tear sheet depend on quantrisk"
Talked to @justinlent yesterday and he said there were some updates to the cone code that have not made into quantrisk yet.

[2015-06-25 11:32] #9 closed, assigned to twiecki

[2015-06-25 11:43] twiecki opened #27 "Make plotting function take `ax` kwarg and pass on plotting kws."
Currently, every plotting function creates it's own figure and then plots an axes object (i.e. what is actually the plot, figure is just the window that contains it) inside. This is fairly inflexible as maybe you want one large layout and plot the individual subplots in the appropriate axes defined outside of the plotting function.

A common pattern used e.g. by `seaborn` is to have every plotting

[2015-06-26 15:41] gusgordon opened #28 "Remove dependency on multiple max drawdown functions"
Currently, we have max_drawdown and get_max_draw_down, the latter likely being the better version.

[2015-06-26 17:50] justinlent opened #29 "Monthly Returns heatmap formatting broken"
as well, the number formatting within each heatmap cell needs to be fixed.  1 number before and after the decimal should be the formatting
![image](https://cloud.githubusercontent.com/assets/6541022/8383771/25a0a582-1bf1-11e5-8d25-0b7bb325b194.png)

[2015-06-26 19:06] justinlent opened #30 "Update Long+Short+Cash plot y-values to match Gross Leverage plot"
might make more sense visually is have the long+short+cash plot y-axis values match up with the gross exposure y-axis

[2015-06-29 06:54] #29 closed, assigned to twiecki

[2015-06-29 14:27] twiecki opened #31 "Add pyfolio to quantopian research platform"
Install quantrisk as a module onto the quantopian research platform. I don't think we need to blacklist anything.

Not sure who could help us with that, any idea @KarenRubin?

[2015-06-29 16:26] justinlent opened #32 "Port logic from standalone to catch cases when no live trading data is available"
here is one example algo id:  557e96eb8ba119ea30000409

[code]

[2015-06-29 18:08] gusgordon opened #33 "Tidy arguments, remove commented out code"
Function definitions and calls need to be tidied up and standardized.

Old code that was commented out that can be removed should be removed.

[2015-06-29 21:17] a-campbell opened #34 "Looks like negative cash is breaking long/short/cash layer cake chart?"
Ran this command:

[code]

Got this traceback:

[code]

[2015-07-01 18:02] #27 closed, assigned to gusgordon

[2015-07-02 14:12] #32 closed, assigned to justinlent

[2015-07-02 20:23] gusgordon opened #35 "Investigate what we want to do in case of negative cash in plot_exposures"
When there is negative cash that should likely be obvious to the user

[2015-07-03 01:19] justinlent opened #36 "boxplot seems to be throwing exception in tearsheet_quantrisk"
seeing this on the research server, using the tearsheet_quantrisk nb.

[code]

Repro expression:

[code]

Error stack trace:

[code]

[2015-07-03 19:02] #36 closed, assigned to twiecki

[2015-07-06 14:35] gusgordon opened #37 "Add Python 3 compatibility"
Will probably just require us to adjust print statements.

[2015-07-07 12:58] twiecki opened #38 "Add license header to all files"
Example: https://github.com/quantopian/zipline/blob/master/zipline/algorithm.py#L1 For every python file.

[2015-07-07 12:59] #4 closed, assigned to gusgordon

[2015-07-07 13:30] #7 closed, assigned to gusgordon

[2015-07-07 14:32] #33 closed, assigned to gusgordon

[2015-07-07 18:32] #38 closed, assigned to gusgordon

[2015-07-07 20:20] justinlent opened #39 "overlay Bayesian cone on top of regular cone in cumulative performance plot"
It will be good to get a sense, visually, how closely the two cones are with one another depending on the algo.

it should be pretty easy to do just by passing the ax to the existing cumulative performance figure

[2015-07-08 00:36] justinlent opened #40 "Always output the Out-of-sample start date even if its very short, or after the last backtest date"
its useful info, if its available.  In screenshot, sounds like the out of sample date was less than 5 days from the end of the available backtest data from the test harness run, and thus an automatical 85%/15% split was used (which is totally fine, and a good default).  But if the out of sample date is available lets just show it

![image](https://cloud.githubusercontent.com/assets/6541022/8560605

[2015-07-08 13:18] justinlent opened #41 "Add Sortino Ratio to timeseries.py"

[2015-07-08 13:19] justinlent opened #42 "Add Omega Ratio to timeseries.py"
simple version that doesn't include a benchmark or MAR (Minimum Acceptable Return).

So its just:  (Total Profit %) / (Total Losses %)

[2015-07-08 16:14] gusgordon opened #43 "Create example NBs"
We want two example notebooks, one that uses a single stock and one that uses a zipline algo.

[2015-07-08 21:20] justinlent opened #44 "pull Fama-French risk factors directly from the academic website"
We should look into directly pulling this data since the csv can get out of date really quickly.  Maybe we supply a default csv (if we can) as well as expose a function to pull the data from the university page

We also might want to confirm if there are any licenses or issues with redistributing it. @twiecki maybe you have some experience understanding redistribution of data in the OSS world?

[2015-07-08 22:31] justinlent opened #45 "try/except failing in tearsheet_standalone nb when catching exception when loading 'bayesian' fails"
![image](https://cloud.githubusercontent.com/assets/6541022/8583923/659f540a-2586-11e5-98df-37453f16f36d.png)

[2015-07-08 22:53] #42 closed, assigned to justinlent

[2015-07-08 23:35] justinlent opened #46 "Change default value in timeseries.annual_return function for parameter 'style'. Change to 'compound'"
@twiecki  I want to propose we change the default returns 'style' parameter used for annual_return to be "compound" instead of "calendar". Calendar isn't very conventional (its just simple arithmetic annual return), and was originally implemented just to match zipline results.  Here's an example showing how different they can be using the benchmark_rets timeseries in tearsheet_standalone.  Returni

[2015-07-08 23:41] justinlent opened #47 "Change 'calmer' ratio spelling to 'calmar'"
This is a darn legacy typo on my part in the spelling  :(

https://en.wikipedia.org/wiki/Calmar_ratio

Gus, giving it to you since I figure you know best as to how renaming will affect dependencies.

[2015-07-09 00:15] #3 closed, assigned to twiecki

[2015-07-09 00:34] #47 closed, assigned to gusgordon

[2015-07-09 00:39] gusgordon opened #48 "Remove "None" from cumulative returns plot legend"
First plot in returns tearsheet. I tried to fix this myself but I wasn't sure of an easy way.

Gonna assign to @justinlent, but if you're not sure/don't have time I can take another stab.

[2015-07-09 01:30] #45 closed, assigned to nobody

[2015-07-09 02:22] justinlent opened #49 "X-axis labels not showing up on some plots"
I'm seeing this locally on master.  This _is not_ a problem on the internal research server.  So  1 of 2 things is going on:
1)  IRS might not be on the latest quantrisk, so a recent commit broke it.
2)  Some of my local packages are out of date (though I just upgraded to seaborn 0.6)

I've copied in some images below, but now I'm noticing that nearly all my plots don't have x-axis labels.  Even t

[2015-07-09 02:26] #41 closed, assigned to justinlent

[2015-07-09 02:43] justinlent opened #50 "rolling multi factor risk plot is broken"
somehow the title and y-axis got labeled "alpha". as well as some extraneous code that computed alpha was merged into the body that we don't need right now.  I'm commenting out what I think is wrong and committed here for other's review in this commit:
https://github.com/quantopian/quantrisk/commit/becac6c50198151725ccc1412c360251ac50a83b

If all looks good we can get rid of the commented lines

[2015-07-09 02:46] justinlent opened #51 "remove "Similarity between Backtest vs. Out-of-Sample" numerical print out"
since we have plots showing the 3 variations of this method, let's remove this single value for now so that it doesn't seem like we're latching onto it for any special reason.  We're already investigating a more relevant consistency method which we can add to the printed numerical output later

[2015-07-09 02:51] #51 closed, assigned to justinlent

[2015-07-09 03:44] #49 closed, assigned to gusgordon

[2015-07-09 11:57] #26 closed, assigned to gusgordon

[2015-07-09 13:23] #34 closed, assigned to nobody

[2015-07-09 17:59] #48 closed, assigned to gusgordon

[2015-07-09 20:09] justinlent opened #52 "remove the label "Date" from x-axes that are dates."
it will help clean up the charts and reduce clutter

![image](https://cloud.githubusercontent.com/assets/6541022/8605673/ba1c8826-263b-11e5-8f0b-1c83402a3401.png)

[2015-07-10 09:25] #8 closed, assigned to gusgordon

[2015-07-10 12:51] #31 closed, assigned to nobody

[2015-07-10 12:52] twiecki opened #53 "Write blog post"
Blog post announcing pyfolio to the world.

[2015-07-10 14:05] #46 closed, assigned to nobody

[2015-07-10 14:09] #50 closed, assigned to nobody

[2015-07-10 15:26] ssanderson opened #54 "Many functions accept parameters named `df_*` but expect Series as inputs."
[code]

Almost all of these usages are for variables that actually expect Series, which makes for a misleading public API.  It's only going to get harder to change these names over time, so IMO we should change these sooner rather than later.

A separate issue is that a large % of internal variable names start with `df_`.  That's less immediately pressing, but is a long-term issue for development.

[2015-07-10 19:01] #54 closed, assigned to nobody

[2015-07-10 19:27] gusgordon opened #55 "Add compatibility with zipline output"
Zipline outputs an object from which returns, positions, and transactions can be extracted. This needs to be fully implemented, and additionally, should work with minute-level backtests.

[2015-07-12 00:01] #37 closed, assigned to gusgordon

[2015-07-13 12:18] #55 closed, assigned to twiecki

[2015-07-13 12:19] #6 closed, assigned to twiecki

[2015-07-13 14:12] twiecki opened #56 "Unittests are broken"
[code]

[2015-07-13 16:10] #56 closed, assigned to gusgordon

[2015-07-13 16:43] #52 closed, assigned to gusgordon

[2015-07-13 21:17] #43 closed, assigned to gusgordon

[2015-07-14 18:16] Jstauth opened #57 "display "source algorithm id" in tearsheet"

[2015-07-15 17:39] humdings opened #58 "[PERF] Rolling Regressions"
I'd like to suggest we use Pandas implementation for rolling regressions.
https://github.com/pydata/pandas/blob/master/pandas/stats/ols.py

The performance difference is huge.

For a single factor
- rolling_beta: 1 loops, best of 3: 4.26 s per loop
- pd.ols: 1 loops, best of 3: 275 ms per loop

For multiple factors
- rolling_multifactor_beta: 1 loops, best of 3: 15.2 s per loop
- pd.ols: 1 loops,

[2015-07-15 18:39] justinlent commented on #58
+1 @humdings

yeah, we should just go down the pandas route for everything that pandas supports since its very industry recognized/supported

[2015-07-15 18:51] gusgordon commented on #58
Yeah that sounds great! I am only concerned about the differences. How significant are they? May just be different methods of compounding returns or something.

[2015-07-15 19:37] humdings commented on #58
The differences are not too severe, but they are not negligible. I pushed to a 'pandas-ols' branch, you can check it out there, I want to make sure none of the actual tear sheets break before it hits the master.

[2015-07-15 19:51] twiecki commented on #58
@humdings great, thanks! can you do a PR?

[2015-07-15 20:05] gusgordon opened #59 "Investigate calculation of Sharpe"
@humdings pointed out to me that Sharpe is typically calculated with respect to a benchmark, which we do not do. See here: https://en.wikipedia.org/wiki/Sharpe_ratio

[2015-07-15 20:09] gusgordon opened #60 "Couple rolling calculators with their non-rolling counterparts"
We currently have more than one function for rolling and non-rolling Sharpe and beta. If possible, these should likely be boiled down to one function.

We may also want to remove the multifactor functions and place the necessary components in the main beta/alpha functions.

Depends on #58.

[2015-07-15 20:11] gusgordon commented on #57
This is a great issue, but should it be here now that this is public? Maybe in quant_notebooks instead, not sure.

[2015-07-15 20:27] justinlent commented on #59
@humdings we've gone around on the Sharpe calculation on so many threads, I don't think we should dig into it yet again :)   @Jstauth  when you're in town, maybe you can catch David up on where we stand with this.

Personally, I've always been of the opinion, both personally as well as what I've witnessed is that 95% of the folks out there just exclude risk-free rates and benchmarks from these typ

[2015-07-15 20:31] ssanderson commented on #59
:+1: on this if it's straightforward.

[2015-07-15 22:41] justinlent opened #61 "Add optional parameters to timeseries.portfolio_returns to enable weighting of holdings based on the metric"
Right now portfolio_returns only supports equal-weight portfolios.  We should enable either the passing in of static custom weights.  E.g. If we pass in 4 stocks, we can also just pass in a list of 4 custom static weights like, [0.5, 0.2, 0.1, 0.2].

Or we can pass in a metric which is first applied to all the input timeseries and dynamically weights each holding based on the rolling metric value.

[2015-07-16 07:02] twiecki commented on #58
Just looked at the code. Not only is it faster but also much more succinct. Should definitely merge this.

[2015-07-16 07:03] twiecki commented on #58
https://github.com/quantopian/pyfolio/pull/63

[2015-07-16 07:06] twiecki commented on #59
+1

[2015-07-16 07:07] twiecki commented on #57
https://github.com/quantopian/quant_notebooks/issues/20

[2015-07-16 07:07] #57 closed

[2015-07-16 09:16] twiecki opened #64 "Fix failing tests for python 3"
https://travis-ci.org/quantopian/pyfolio/jobs/71217370

[2015-07-17 16:28] gusgordon commented on #64
Closed by 6614b294f3d0054cdbec9bff30119d7ee663bb4f.

[2015-07-17 16:28] #64 closed

[2015-07-19 18:56] twiecki commented on #64
Awesome!

[2015-07-20 15:32] gusgordon commented on #44
Dartmouth page is down right now. Quandl seems more reliable, but we could have a double fallback i.e. dartmouth -> quandl -> local

[2015-07-20 16:25] gusgordon commented on #44
Dartmouth seems to be up at your second link here: http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html

I think the pandas function and old URL are broken, but we can unzip files with python so shouldn't be a problem.

I can't seem to find UMD anywhere. @justin @humdings anyone know where that's from?

[2015-07-20 21:17] ACampbell22 opened #65 "annual_returns incorrect in calendar mode"
[code]

Because the 252 is an integer, this function will return an inf for all return series shorter than one year.

Just gotta change the 252 to a float.

[2015-07-20 23:34] #65 closed

[2015-07-21 14:42] ssanderson commented on #65
This isn't actually true.  On line https://github.com/quantopian/pyfolio/pull/66/files#diff-dd656075c4a67ac1cd34b18065e18791L15 we do a `from __future__ import division`, which gives integer division the same semantics as floating point division.

[2015-07-21 14:59] twiecki commented on #65
I think this happened semi-simultaneously.

[2015-07-21 15:51] gusgordon commented on #44
From justin, UMD = momentum factors -> http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/F-F_Momentum_Factor_daily_CSV.zip

[2015-07-21 15:59] twiecki opened #67 "Add Bayesian example notebook"

[2015-07-21 16:08] justinlent opened #68 "add skewness and kurtosis to perf_stats calculations"

[2015-07-21 16:09] justinlent opened #69 "add cumulative returns computed from returns just in the returns distribution tails"

[2015-07-21 16:23] ssanderson opened #70 "PyFolio lists non-existent branch of PyMC3 as a requirement."
We list pymc3>=3.0 as a install-time requirement, but that branch isn't on pypi, so pip installing PyFolio always fails.

[2015-07-21 16:25] ssanderson commented on #70
@twiecki I assigned this to you since you'll probably know best how to handle the pymc3 dependency correctly.  Given that it's listed as optional, should we be using [`extras_require`](https://pythonhosted.org/setuptools/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies) for this?

[2015-07-21 16:26] ssanderson opened #71 "PyFolio lists itself as an install-time requirement"
I don't think this is necessary, and I'm a bit surprised that it works at all.

[2015-07-21 16:26] ssanderson commented on #71
[code]

[2015-07-21 16:29] ssanderson opened #72 "We should use a .rst file for the README and use it for our PyPI long description"
GitHub can render .rst perfectly well, and this makes the PyPI description much nicer.

c.f. https://github.com/quantopian/pgcontents/blob/master/README.rst, https://pypi.python.org/pypi/pgcontents/

[2015-07-21 17:45] ssanderson opened #73 "Importing pyfolio implicitly imports every module in PyFolio"
This has two major negative consequences:

1. During development, an import-time error (e.g. a syntax error, or a missing package) *anywhere* in the repo causes all imports to fail.
2. Importing anything in the library takes an annoyingly long (almost 3 seconds on my machine) amount of time.  Most of this time is spent in `seaborn.__init__`.

@twiecki is there a reason we're doing this in the modu

[2015-07-22 08:15] #70 closed

[2015-07-22 08:16] #71 closed

[2015-07-22 09:01] twiecki commented on #73
I'm not a big fan of having the user know about sub and subsubmodules for using the module. If you look e.g. at `pandas` or `seaborn`, most of the user-facing functions are in the main name-space. The reason for the #noqa is that `flake8` complains otherwise. We should probably add the functions we want to expose via `__all__` however.

[2015-07-22 09:04] twiecki commented on #72
I try to avoid mixing reST and markdown in the same project. Moreover, our documentation system, `mkdocs` requires markdown (http://quantopian.github.io/pyfolio/)  I also think few would go to pypi for documentation so a short two-sentence description is probably good enough.

[2015-07-22 14:11] ssanderson commented on #72
@twiecki the long description isn't really meant to be documentation though, it's advertising.  If I google for something like "python risk visualization" and end up on our pyfolio page, it looks like it's basically unmaintained: https://pypi.python.org/pypi/pyfolio.  In zipline, we try to naively convert our markdown into rst, but that looks awful (https://pypi.python.org/pypi/zipline), and requi

[2015-07-22 14:15] twiecki commented on #72
But then what would we do for the markdown file we need for http://quantopian.github.io/pyfolio/?

I do like your suggestiohn of having a .rst introduction for pyfolio in setup.py.

[2015-07-22 14:56] ssanderson commented on #73
This is my least favorite thing about the pydata ecosystem.  It makes it a pain to find where things are actually defined, which often contributes to circular dependencies which get resolved with runtime imports rather than proper package structure (which in turn bites us on Quantopian because we run in a chroot for security reasons), and it means that performance issues in **any** of your depende

[2015-07-22 17:01] ssanderson opened #75 "API Questions/Issues Meta-Issue"
Rather than open a billion issues at once, I'm going to open a single issue here.  We can break out more substantive issues into separate pieces later if we want.

High Level Thoughts
-----------------------------

### Docstrings
We have lots of docstrings that look read like this:
[code]
While it's awesome that we have docstrings (great job on enforcing this convention!), this isn't actually all

[2015-07-22 17:01] ssanderson commented on #75
Still working on this, just didn't want the browser to crash.

[2015-07-22 17:07] humdings commented on #59
+1 on the parameter, I'd vote for a 0 default too.

[2015-07-22 18:49] #44 closed

[2015-07-22 22:48] ssanderson opened #76 "extract_pos produces duplicate rows for each date"
I think the desired data format has one row for each date, and column for each sid, plus a cash column.  The current implementation, however, produces the following:

[code]
Notice that each date appears once per asset, which means we have a large amount of duplicated information.

The correct implementation, I think, is much simpler than what we currently have:
[code]

[2015-07-23 03:26] ssanderson commented on #75
@twiecki @gusgordon @justinlent these are my main comments from reading today and yesterday.

TL/DR:
* Docstrings describing dataframes should say more about the actual structure of the data.
* Code the knows things about the `BacktestResult` object on Quantopian should probably live in the same codebase as `BacktestResult` (i.e. on Quantopian and/or Zipline if/when it gets ported).  In particular

[2015-07-23 03:57] justinlent commented on #75
I love these ideas @ssanderson .  Definitely agree with exposing more informative docstrings, as well as making it more user friendly for people just analyzing backtest data (without live/out-of-sample data) since the tearsheet is still extraordinarily useful for this.  Also totally agree that we should make it work in "offline mode" by removing the internet dependency (which is really only used t

[2015-07-23 06:41] twiecki commented on #76
Thanks, that looks right.

[2015-07-23 15:35] gusgordon commented on #75
Thanks @ssanderson. Few comments/questions:
* In the docstrings, do we want to describe each object each time it is used? For example, `returns` is passed to about 30 functions. Is there a better convention when we have only ~10 things we ever pass, and each function uses a subset of those 10 things? I am guessing no, but it just seems strange to describe the same object that many times. @twiecki

[2015-07-23 16:23] twiecki commented on #76
Closing in favor of PR.

[2015-07-23 16:23] #76 closed

[2015-07-23 17:19] justinlent opened #79 "There are still a few instances of camelCase variables in plotting.py"
logValue  is one of them.

[2015-07-23 17:56] twiecki opened #80 "Move backtest obj transforms to qexec.research"

[2015-07-23 18:00] twiecki opened #81 "Remove live_algo_start date and replace with returns_out_of_sample"

[2015-07-23 18:00] twiecki opened #82 "Cache SPY in data/ directory"

[2015-07-23 18:44] twiecki opened #83 "Add API for registering a function to get SPY"

[2015-07-23 18:52] gusgordon opened #84 "Add more detailed descriptions of certain variables to docstrings"
As scotty pointed out. I think this will just be needed for the pandas objects that are passed.

[2015-07-23 19:03] twiecki commented on #81
Actually this is a bit tricky I just realized because of positions and transactions which we assume to have the same length as the returns. So then we'd need to pass in positions_oos and transactions_oos as well which is a bit cumbersome. So maybe stick with the `live_start_date` which defaults to None?

[2015-07-23 19:08] gusgordon commented on #81
Oh, right. I think this is fine for now then. In the future, if we decide we want to accept multiple dfs for oos, then that can just lie on top of what we will have, we would simply retain the optional live_start_date which is a useful feature anyway.

Then this issue now becomes just turning things off when no date is passed.

[2015-07-23 19:11] twiecki commented on #81
Yep!

[2015-07-23 19:24] twiecki commented on #73
I don't think it's a big deal. People can always selectively import if they want to and there's no sense in importing a module if you don't want to use it.

[2015-07-23 19:24] #73 closed

[2015-07-23 19:54] ssanderson commented on #73
What's meant here by "people can always selectively import"?  The issue here, in my mind, is precisely the fact that people **can't** selectively import, because if you import from **any** file in PyFolio you trigger execution of **every** file in PyFolio.  This means that, as an application developer, I can't import PyFolio at module scope anywhere in my application if three seconds of startup la

[2015-07-23 20:32] humdings opened #85 "[BUG] backtest object does not have a gross_leverage field"
`pyfolio.utils.extract_rets_pos_txn_from_backtest_obj` does not work because Backtest.daily_performance does not have a 'gross_leverge' field.

[2015-07-23 20:39] twiecki commented on #73
Ah, you're right. I had assumed a selective import gets around that issue.

[2015-07-23 20:47] twiecki commented on #73
I think we should raise an issue with seaborn about this.

[2015-07-23 20:49] ssanderson commented on #73
The root cause of the slowness is in matplotlib.font_manager:

[code]

https://github.com/matplotlib/matplotlib/issues/4756.

[2015-07-24 11:14] twiecki commented on #73
OK, lets wait for upstream to fix it then. I don't think this should have any consequence for research anyhow, aren't we importing matplotlib.pyplot there by default? That way the pyfolio import should be snappy.

[2015-07-24 16:47] #81 closed

[2015-07-24 16:48] #82 closed

[2015-07-27 14:10] #72 closed

[2015-07-27 15:08] humdings commented on #85
This should be fixed once the pyfolio stuff is added to research.

[2015-07-27 15:13] humdings opened #89 "test_calc_multifactor only uses a single factor"
`test_calc_multifactor` and `test_multifactor_beta` only have a single factor passed to them. These tests should be made more robust. Anybody opposed to keeping a small csv of test data, or we can use random data with a fixed seed, thoughts?

[2015-07-27 15:22] gusgordon commented on #89
It's a good idea, but I think these functions should get deprecated in the future in favor of having some flexible beta calculation function.

[2015-07-27 15:49] humdings commented on #89
Sounds good, I think this PR is a step towards better regression methods but we will still need better tests either way.
https://github.com/quantopian/pyfolio/pull/63

[2015-07-27 15:54] humdings commented on #83
I thought @ssanderson was heading this up, but I can take a stab at it. Any thoughts on how we should go about it? I'm thinking just a global settings dict in utils with `get_symbol_rets` as the default function is simplest but I'm sure there is a more graceful method.

[2015-07-27 16:04] ssanderson commented on #83
@humdings I think `get_symbol_rets` should continue to be the top-level entrypoint for the rest of PyFolio, but its implementation should look like:

[code]
and then we need a registration function that looks like:

[code]
The registration function should document the expected signature of the function being registered.

We should follow similar patterns for any other data that PyFolio pulls from

[2015-07-27 16:08] twiecki commented on #85
Isn't this obsolete with https://github.com/quantopian/pyfolio/pull/87 merged?

[2015-07-27 17:31] twiecki opened #90 "get_symbol_rets should warn about error"
I couldn't get caching because of:
ImportError: HDFStore requires PyTables, "libhdf5.so.7: cannot open shared object file: No such file or directory" problem importing

But since we suppress the exception in get_symbol_rets this never gets displayed.

[2015-07-27 19:39] humdings commented on #83
Initial PR for this is here https://github.com/quantopian/pyfolio/pull/92/

I'm wondering if it should be moved to a different location pyfolio.settings.py?

[2015-07-27 19:43] humdings commented on #80
Can this be closed? https://github.com/quantopian/pyfolio/commit/a237b20c8e72c65ca9423fd46db810f095c4788a should have taken care of this.

[2015-07-27 20:13] humdings commented on #85
Yup, closing

[2015-07-27 20:13] #85 closed

[2015-07-27 21:47] #80 closed

[2015-07-29 09:40] twiecki opened #95 "get_symbol_rets should accept start and end times and only update cache if necessary"
Here's an idea:

@humdings already made the suggestion of adding start and end dates as keyword arguments to `get_symbol_rets` which I think is a good idea. Then once we have that and SPY gets requested, we could check if the end_date is later than what we have cached and only update the cache if necessary. Now we are updating if it's older than a day which is unnecessary and causes daily re-downl

[2015-07-29 09:40] twiecki commented on #83
PR merged. Thanks @humdings!

[2015-07-29 09:40] #83 closed

[2015-07-29 17:32] gusgordon commented on #95
Yeah, good idea, this is the correct way to handle it.

To tack on here, @ssanderson and I talked a little more about whether or not to force users to have to explicitly call the benchmark. So for example, it would be:
`create_full_tear_sheet(returns, benchmark_returns=get_symbol_rets('SPY'))`

I don't think this is too harmful to ease of use, but IMO still not worth it. I think the best solution

[2015-07-30 19:39] #79 closed

[2015-07-30 19:39] #84 closed

[2015-07-31 13:33] twiecki commented on #75
I think we factored this out into individual issues that are mostly addressed now.

[2015-07-31 13:33] #75 closed

[2015-07-31 13:34] twiecki opened #100 "Write tutorial NB for research"

[2015-07-31 13:38] twiecki opened #101 "Sometimes transaction plot breaks"
![image](https://cloud.githubusercontent.com/assets/674200/9008366/2adad7b0-379a-11e5-9f9e-c445b0072e74.png)
Not sure when this occurs, might be a data issue but I wanted to keep track of it.

[2015-07-31 14:00] humdings commented on #101
I have a hunch this is a bug in the users algo. My guess is they have something along these lines in their code that causes the algo to go dark.
[code]

[2015-07-31 14:20] gusgordon commented on #100
I think the general format should be similar to the zipline one. Maybe the full tear sheet at the bottom instead so it doesn't take up a massive chunk of space.

We probably want to urge users to use the backtest.full_tear_sheet() or whatever etc. format, but also advertise that they can explicitly call pf.make_full_tear_sheet(). This could be kind of confusing but is probably the best way. You gu

[2015-07-31 14:32] twiecki commented on #100
yeah, that sounds like a good plan. I think we should just supply an algo_id that will work for everyone (like the example NB does for get_backtest()). Then we start with the very simple `backtest.full_tear_sheet()` as you said and list the other methods that exist with short descriptions. Then we can say that this is implemented via pyfolio which is now also available with some simple examples. I

[2015-07-31 15:19] #95 closed

[2015-08-03 10:36] twiecki commented on #90
Fixed by #99 .

[2015-08-03 10:36] #90 closed

[2015-08-03 18:46] gusgordon opened #103 "Investigate default figure sizes"
@ACampbell22 was using pyfolio and generating plots for use outside of NBs. For him, there was some extra space at the top and bottom of the returns figure, and likely others. Theory is that IPython is automatically trimming the figure where there wasn't a plot in the area, but could be something else.

[2015-08-03 19:10] gusgordon commented on #100
Also we need to write a forum post. I suppose I can post an example with a zipline algo and go into some extra detail about some of the tear sheets, then tell people they have another example in their tutorial directory on research.

[2015-08-03 20:42] humdings opened #104 "Inconsistent Turnover Calculations"
We have a turnover function in pos.py, but `plotting.plot_turnover()` does not use it. Also, the two calculations are done differently.

[code]
These two calculations do not produce the same output

[2015-08-04 01:09] justinlent opened #105 "create_returns_tearsheet timezone issue"
Still some timezone issues in create_returns_tearsheet. See attached screenshot.  The 2nd screenshot shows that the timeseries I'm trying to build a tearsheet for has UTC specified as its tz

![image](https://cloud.githubusercontent.com/assets/6541022/9051081/96c13362-3a0a-11e5-93ea-85543e01a38b.png)

![image](https://cloud.githubusercontent.com/assets/6541022/9051097/bb9d752e-3a0a-11e5-921b-b7650

[2015-08-04 01:40] humdings commented on #105
Can you try that with `live_start_date=pd.Timestamp('2015-01-01', tz='utc')` and see if that's what is causing it. We might have to timezoneify that date as well.

[2015-08-04 01:51] justinlent commented on #105
yep @humdings that gets it working! I guess we should stamp live_start_date with a 'utc' tz if it gets passed in without a tz?

[2015-08-04 01:53] humdings commented on #105
Ya, that should do it, I'll do that now, should be easy enough.

[2015-08-04 02:15] humdings commented on #105
This should be fixed once https://github.com/quantopian/pyfolio/pull/106 is merged

[2015-08-04 03:41] justinlent opened #107 "formatting fix: remove timestamps from peak/valley dates in drawdown table"
![image](https://cloud.githubusercontent.com/assets/6541022/9052737/faf19ef2-3a1f-11e5-8ea6-cfc0ccda9274.png)

[2015-08-04 13:32] justinlent opened #109 "add daily returns distribution histogram next to monthly returns histogram plot"
and move these to a separate row of plots to reduce clutter

[2015-08-04 13:51] twiecki opened #110 "tz fix breaks example NBs"
[code]

and
[code]

[2015-08-04 13:58] twiecki opened #111 "Store SPY in csv instead?"
Although hdf5 is certainly the better format it's an additional requirement. For this simple file we might want to just use `csv` instead.

[2015-08-04 14:00] humdings commented on #110
Looks like a regular python datetime caused this, I'll have to ensure pd.Timestamps are used, I think `pd.to_datetime()` will fix this because that also works with individual datetimes and arrays.

[2015-08-04 14:06] twiecki commented on #110
@humdings Agreed.

[2015-08-04 14:13] humdings commented on #110
This is fixed via https://github.com/quantopian/pyfolio/pull/112, please review and merge if you're satisfied.

[2015-08-04 14:18] #110 closed

[2015-08-04 14:25] humdings commented on #111
Pandas doesn't support hdf5 natively? What's the additional requirement?

[2015-08-04 14:27] twiecki commented on #111
`pytables`

[2015-08-04 14:28] gusgordon commented on #111
We could also store in a zip, the file sizes may get large

[2015-08-04 14:38] twiecki commented on #111
I'm not overly worried about that since it's only one ticker. I just remembered that we also have the fama french stuff in hdf5. That one might be a bit larger. Anyway, if size is indeed a concern we should probably stick to hdf5 and eat the dependency.

[2015-08-05 15:48] justinlent opened #114 "Should be able to pass in a string for live_start_date"
this use to work, then broke when improving the timezone stuff
Basically any valid/parsable time string should be valid.  any string that 'just works' when passed to pd.Timestamp() is probably a reasonable bar

![image](https://cloud.githubusercontent.com/assets/6541022/9090351/99f94660-3b4e-11e5-9c43-17a7ba3d626e.png)

[2015-08-05 15:53] twiecki commented on #114
Definitely.

[2015-08-05 22:23] #114 closed

[2015-08-10 10:50] twiecki commented on #105
Fixed with #106.

[2015-08-10 10:50] #105 closed

[2015-08-10 10:53] twiecki commented on #103
@ACampbell22 It's a bit hard to reproduce without any other pointers. Have you resolved this?

[2015-08-13 10:42] twiecki commented on #100
@gusgordon Do you have access to the staging server with the research pyfolio API? We can probably draft something up there and then move it over.

[2015-08-14 02:05] gusgordon commented on #100
Yeah, sure. I'll do this tomorrow if I can get a good connection and share it with you guys for feedback after.

[2015-08-14 09:01] twiecki commented on #111
Seems like csv is actually smaller, at least for the fama french factors.
[code]

[2015-08-14 09:03] twiecki commented on #111
https://github.com/quantopian/pyfolio/pull/119

[2015-08-15 17:44] #104 closed

[2015-08-15 22:28] twiecki commented on #111
Closed with https://github.com/quantopian/pyfolio/pull/119.

[2015-08-15 22:28] #111 closed

[2015-08-17 01:38] gusgordon commented on #100
Sorry, internet has been pretty shoddy and I can't get a consistent whitelist. Trying to do this ASAP.

[2015-08-18 08:15] #68 closed

[2015-08-18 10:30] twiecki commented on #14
Started over here: https://github.com/quantopian/pyfolio/tree/qgrid

[2015-08-19 22:55] justinlent opened #124 "Show '% of portfolio' traded instead of shares traded for turnover plots"
where (% of portfolio) = ($ traded) / (portfolio value),

and,  ($ traded) = (stock price) * (# of shares)

![image](https://cloud.githubusercontent.com/assets/6541022/9371101/bd32189a-468a-11e5-8bde-d08a56c6b46f.png)

[2015-08-20 09:21] twiecki commented on #124
+1

[2015-08-20 09:32] twiecki commented on #100
@gusgordon I'll take a stab at this and will run what I have by you.

[2015-08-21 15:40] gusgordon opened #125 "Investigate warnings when generating tear sheets"
These warnings come up when generating the full tear sheet (not sure which sheet specifically):

[code]

And these come up when generating the Bayesian sheet:

[code]

They don't seem to be affecting behavior at this point, though, and some of them (e.g. the theano one) may be due to things we can't fix within pyfolio.

[2015-08-21 15:49] ssanderson commented on #125
The first warning is telling you that you're trying to write into pyfolio's cached factors and failing to do so because you don't have appropriate permissions on that file.  Wherever you're seeing that warning, you've got pyfolio installed in the system python, which is probably a bad idea.

The theano warning is indicating that the version of theano you're using was compiled against numpy headers

[2015-08-22 04:50] #100 closed

[2015-08-22 04:50] #53 closed

[2015-08-25 00:35] MatthewGilbert opened #128 "Live trend appears to be broken in plot_rolling_returns()"
In the cumulative returns plot the live trend appears to just be the same as the backtest trend? I have included some code and a screenshot below to illustrate the problem.

    import pyfolio as pf
    import matplotlib.pyplot as plt
    import matplotlib.gridspec as gridspec
    stock_rets_SPY = pf.utils.get_symbol_rets('SPY')
    stock_rets_QQQ = pf.utils.get_symbol_rets('QQQ')
    stock_rets_G

[2015-08-25 02:04] gusgordon commented on #128
You're right — thanks.

[2015-08-25 02:09] MatthewGilbert commented on #128
Also this is sort of pedantic but it might make sense to have the cumulative returns start from 0 not 1. 1 would be more appropriate if this was something like notional/capital but on day 0 your strategies cumulative returns are 0 not 100%

[2015-08-25 08:13] twiecki commented on #128
@MatthewGilbert Thanks for commenting. I think this is intentional. The assumption you want to test is if the out-of-sample (OOS) behaves like the backtest predicted. Thus you assume that the linear trend will continue. Then if the OOS moves outside of the cone you have reason to believe that something went wrong.

Agreed on starting at 0.

[2015-08-25 10:08] MatthewGilbert commented on #128
Ahh okay, makes sense. I was just a bit unclear on it's intended functionality. "Live trend" might be a bit of a misnomer, although I can't really think of a concise description of that.

[2015-08-25 10:17] twiecki commented on #128
@MatthewGilbert good point. Maybe 'predicted trend' ?

[2015-08-25 11:28] MatthewGilbert commented on #128
Ya that seems more appropriate.

[2015-08-25 12:53] #128 closed

[2015-08-25 14:34] gusgordon commented on #128
Ah, right, the cone gets projected around the in-sample regression. My mistake.

[2015-08-25 18:36] justinlent commented on #128
Hi Matthew, Thanks for all the great feedback - very much appreciated.  wrt the "cumulative performance" plot starting at 1.0: it's really meant to be interpretated as $1 being invested in Day 1; this is synonymous with Fund Summary sheets that often show $10,000 invested in Day 1 turns into $X down the road... I can see us exposing a toggle though to start at 0.0 instead

**Sent from iPhone**

On

[2015-08-25 19:14] MatthewGilbert commented on #128
@justinlent I think having the plot in capital terms is reasonable but it's a bit confusing since the axis reads "Cumulative returns" as opposed to something like "Dollars Invested", "Notional" or "Capital". Again this is fairly pedantic hence why I just tacked it on to my main concern so if there is a bias to leave it as is I think that is fine.

[2015-08-25 22:39] adzuci opened #129 "Pyfolio tries to cache data inside the package which is not always writable"
Related to https://github.com/quantopian/pyfolio/issues/125

@CaptainKanuk found that if pyfolio doesn't have access to write to it's directory certain functions are broken.

![screen shot 2015-08-25 at 6 36 36 pm](https://cloud.githubusercontent.com/assets/278814/9481462/8156cb7c-4b58-11e5-8a80-d7164b6c9a8c.png)

`plot_rolling_risk_factors()` won't work in this case unless we have pyfolio cache d

[2015-08-25 22:44] adzuci commented on #129
I think the change to https://github.com/quantopian/pyfolio/blob/master/pyfolio/utils.py#L51 should be something like:

`return join(expanduser("~"), '.zipline', 'data', name)`

after adding `expanduser` after line 21.

[2015-08-26 09:35] #67 closed

[2015-08-26 21:34] funkyfrenchie opened #131 "When installing pyfolio on python 3.4 using pip, error is raised for module wsgiref"
This module is not needed for Python 3.4, maybe setup.py should be amended accordingly

[2015-08-27 08:08] #131 closed

[2015-08-27 08:09] twiecki commented on #131
@funkyfrenchie Thanks!

[2015-08-29 09:13] cedricporter opened #132 "ipynb in docs/notebooks is Symbolic Link."
https://github.com/quantopian/pyfolio/blob/master/docs%2Fnotebooks%2Fsingle_stock_example.ipynb

This is a Symbolic Link. I can NOT open it.

[2015-08-29 12:05] twiecki commented on #132
@cedricporter this is intentional. Did anything link there? If you follow the symlink, here is where the file is located: https://github.com/quantopian/pyfolio/blob/master/pyfolio/examples/single_stock_example.ipynb

[2015-08-31 02:04] cedricporter commented on #132
Oh, I see.

[2015-08-31 02:04] #132 closed

[2015-09-02 03:38] justinlent commented on #61
@twiecki just so i can point you to where I committed an ipynb with some functions where I implemented this, you can find it in this commit in branch 'vol_weighted_portfolio'

the ipynb in /examples is just a simple example with some notes/comments explaining how I implemented the weighting functions in a general weight, of which volatility-weighting is accomplished by passing in np.std as the wei

[2015-09-02 23:19] humdings commented on #124
I think this is a pretty quick change, I agree that volume plots are pretty uninformative.

The `plot_turnover` function is already plotted as a percentage of portfolio value, except it's
`0.5*($ traded) / (portfolio value)`.

Maybe we can remove the volume plot from the tear sheet and replace the volume histogram with a histogram of the daily turnover rates. The turnover histogram would be a more

[2015-09-03 03:08] twiecki commented on #124
+1
On Sep 3, 2015 1:19 AM, "David Edwards" <notifications@github.com> wrote:

[2015-09-05 19:56] justinlent opened #134 "Add the date range Aug20-Sept4 2015 to tearsheet Stress Scenarios"

[2015-09-06 15:10] twiecki commented on #134
+1

[2015-09-08 07:02] twiecki commented on #61
Looks neat!

[2015-09-09 14:59] justinlent opened #135 "Histogram plot of $ADTV for each stock ever traded in portfolio"
Where, $ADTV is Average Daily Trading Volume in $ terms:

$ADTV = average( close_price * volume_shares , 90 )

which would be the average $ traded in the security over the last 90-days

This will allow us to do a quick visual analysis of the capacity/liquidity contraints of an algo, and whether it's an algo that could efficiently trade $10k, $100k, $1M, $10M, etc.

[2015-09-09 18:53] humdings commented on #135
Would it also be useful to calculate the percentage of daily volume that an algo traded?

[2015-09-09 20:02] justinlent commented on #135
@humdings yep definitely.  I think the plot you recommend would need to be the % of ADTV _each_ ticker in the algo on a daily basis, and this would offer a great deal of insight into the the capacity constraints of the algo - but if the algo holds say 100 tickers per day it might be a tough plot to visualize. Thoughts?

[2015-09-09 20:44] humdings commented on #135
It might be easier to just report a few tickers that traded the highest percentage of their average daily volume. For the plot I think an average for the whole portfolio would suffice. This sounds like a pretty useful thing to have.

[2015-09-09 21:28] justinlent commented on #24
@twiecki I just flagged this one as 'high priority' since I think it is related to a lot of our recent discussions about computing batting averages of strategies, as well as how to define a trading decisions, etc., which I think is something fairly high on our list.  If you think this particular issue is different, feel free to re-prioritize

[2015-09-09 21:30] justinlent commented on #107
Even though this is just a formatting thing, we really should fix it as it will allow the entire dataframe to be printed without overflowing.  For the non-technical folks, seeing the minutes/seconds timestamps is also likely very confusing

[2015-09-09 21:36] justinlent commented on #135
+1 @humdings Showing just like a Top 10 List of the stocks traded by the algo based on their %ADTV sounds great.  I think we can create 2 or 3 separate plots from the ideas generated in this thread and call the whole section of plots something like "Capacity Analysis"

[2015-09-10 08:35] twiecki commented on #124
Closed with https://github.com/quantopian/pyfolio/pull/133. Thanks @humdings!

[2015-09-10 08:35] #124 closed

[2015-09-10 08:38] twiecki commented on #107
+1

[2015-09-10 12:37] twiecki commented on #24
Definitely. Still need to solve the non-0-crossing case but once we do my code should be pretty easy to add here.

[2015-09-10 20:13] gusgordon commented on #24
This would take commission costs into account, right? e.g. if I buy at $1, sell at $2, but it cost me $2 for the transaction I would have a net loss of $1 and this would be a "loss". I'm pretty sure we take transaction costs into account for everything in pyfolio but just clarifying.

[2015-09-10 20:33] gusgordon commented on #107
I can tackle this too, I was also trying to think about ways we could reformat all the text at the beginning to look a bit nicer.

[2015-09-11 12:28] twiecki commented on #107
Appreciate it @gusgordon.

[2015-09-11 15:25] twiecki commented on #30
What's weird is that we already do that: https://github.com/quantopian/pyfolio/blob/master/pyfolio/pos.py#L62

[2015-09-11 15:25] justinlent commented on #69
Might be able to just tack these plots onto the "Stress Scenario" grid of plots

[2015-09-11 15:32] twiecki opened #136 "Improve text output"
Use tabulate or qgrid?

[2015-09-11 15:57] twiecki opened #137 "Better description of individual plots"
Users are still confused of what each plot is doing.

An IPython notebook that calls each `.plotting` function and describes the output, maybe together with the doc-string would be a nice resource.

[2015-09-11 15:58] twiecki commented on #69
As discussed: Use 2 standard deviations to filter.

[2015-09-11 21:20] justinlent commented on #69
As I thought about this further I think the best way for us to visualize this is to plot just these > +/-2 standard deviation daily returns as a continuous equity curve.  So basically just setting equal to 0 all returns that fall in between +/- 2 standard deviations, and then doing cum_return(all_tail_returns)

so by looking at this next to the overall equity curve of the algo we can visualize whe

[2015-09-12 09:53] twiecki opened #138 "Investigate potential synergies with pythalesians"
https://github.com/thalesians/pythalesians

[2015-09-12 10:36] twiecki commented on #138
CC @saeedamen

[2015-09-12 14:03] saeedamen commented on #138
@twiecki I definitely think there is scope for this. I'll write an extra class to support PyFolio in PyThalesians, so that you can give it a StrategyTemplate object (which defines a trading strategy) https://github.com/thalesians/pythalesians/blob/master/pythalesians/backtest/popular/strategytemplate.py which can then be analysed by PyFolio. Also think there might be ways to use PyThalesians in Py

[2015-09-12 14:04] twiecki commented on #138
Sounds great. You seem to be able to plot to various backends (mpl, plotly, bokeh) which certainly is a nice feature.

[2015-09-12 17:00] saeedamen commented on #138
Wrote a wrapper for a small part of PyFolio at https://github.com/thalesians/pythalesians/blob/master/pythalesians/backtest/stratanalysis/tradeanalysis.py

At https://github.com/thalesians/pythalesians/blob/master/pythalesians-examples/strategyfxcta_example.py - I've shown how to create an FX CTA style strategy then to use my PyFolio wrapper to generate various fun return statistics (I still need

[2015-09-14 11:52] #107 closed

[2015-09-15 14:23] justinlent opened #142 "Timeseries plot of number of orders placed per day"

[2015-09-16 19:19] justinlent opened #143 "Plot of Equity Curve normalized by Gross Leverage timeseries"
This would provide a hypothetical view of how an algo would peform if the algo implemented order logic such that it was always invested at 1.0 leverage every day

The Gross Leverage timeseries is available in the zipline daily perf packet I believe

[2015-09-21 16:34] justinlent opened #144 "Change Positions Level Exposure plot to track Gross Leverage plot"
@humdings It looks like we will want to update the Ticker/Positions Level Exposure plot to track Gross Leverage in the same way which you updated the Long/Short Exposure plot per this PR:  https://github.com/quantopian/pyfolio/pull/140

How easy/difficult do you think it would be to update the Ticker/Positions Level Exposure plot in a similar fashion?

[2015-09-22 13:38] jlopezpena opened #145 "Overlapping drawdowns"
The `get_top_drawdowns` function in `timeseries.py` sometimes returns overlapping drawdown periods, which should not happen. This code reproduces the issue:

[code]

which produces the following output:

<img width="779" alt="screen shot 2015-09-22 at 14 24 48" src="https://cloud.githubusercontent.com/assets/3518950/10019509/c86f10f8-6135-11e5-84fb-439b9712bdf6.png">

Drawdown with index 6 starts

[2015-09-22 14:09] jlopezpena commented on #145
Partially related to this, lines 770-772 seem like a rather inefficient way of removing data from the series, an overall more efficient way would be to directly drop the unneeded lines rather than chop and concat:

[code]

I can write a PR if this is a bug and not the intended behaviour.

[2015-09-22 18:39] justinlent opened #146 "zipline_algo_example nb seems to have bug in zipline algo"
Gross Leverage is now swinging wildly and adversely affects many of the plots.  Here are some screenshots.

(Side note: I'm on Python 2)

![image](https://cloud.githubusercontent.com/assets/6541022/10027892/434a32ac-611e-11e5-86fb-3c09fb009a35.png)

![image](https://cloud.githubusercontent.com/assets/6541022/10027931/74818adc-611e-11e5-8d27-c66a1de25505.png)

![image](https://cloud.githubuserconte

[2015-09-23 02:08] justinlent commented on #143
I just realized this is more difficult than anticipated unless the gross leverage normalization is done at the minutely level.  Case being is that the zipline daily perf packet gross leverage timeseries is simply the gross leverage at the end of the day, which might be a really small value even if the portfolio had a really high leverage during the day and created a lot of profit. So you wouldn't

[2015-09-24 13:36] twiecki commented on #145
@jlopezpena Many thanks for reporting. A PR with a fix and your suggested improvement would be greatly appreciated.

[2015-09-25 13:55] jlopezpena opened #149 "Tests errors"
I got three errors when running python setup.py test. This happens with freshly cloned pyfolio from master.

First one seems to be a missing definition

[code]

The next two errors are numerical values:

[code]

[2015-09-25 15:50] gusgordon commented on #149
Thanks! For the first error, it looks like we are still trying to run the Bayesian tear sheet even if PyMC 3 is not installed.

For the second error, I am not sure what would be causing that in how we are defining the Sortino ratio. We are using calendar and arithmetic returns styles when testing the Sortino ratio. I think cleaning up our usage of the different returns styles might fix this issue.

[2015-09-26 21:57] twiecki opened #151 "Use pandas-datareader instead of deprecated pandas.io"
https://github.com/pydata/pandas-datareader/ is the new package for loading yahoo finance. they also have fama french loaders.

[2015-09-27 13:57] twiecki opened #152 "Linear cone broken in volatility matched cumulative returns plot"
We seem to compute the cone on the non-volatility-matched returns.
![image](https://cloud.githubusercontent.com/assets/674200/10123130/54fcbab8-6530-11e5-830c-75d4ddd77bc5.png)

[2015-09-27 17:40] justinlent opened #153 "create_full_tearsheet function should take optional parameter to turn off Fama-French risk factor plots"
maybe easily via a boolean, or some kwargs?

[2015-09-27 18:12] humdings commented on #30
Fixed via https://github.com/quantopian/pyfolio/pull/147

[2015-09-27 18:12] #30 closed

[2015-09-28 01:02] justinlent commented on #153
maybe we can even generalized this request to: Passing of settings, or arguments, to create_full_tearsheet that propagate through to the other helper functions called within create_full_tearsheet.

Thoughts @twiecki ?

[2015-09-28 22:57] ssanderson opened #154 "PyFolio install from PyPI is broken on Python 3 due to outdated wsgiref dependency."
[code]

This looks like it's fixed on master, but we haven't yet pushed to PyPI.

cc @twiecki

[2015-09-29 00:51] justinlent commented on #61
PR open here:  https://github.com/quantopian/pyfolio/tree/vol_weight_port

One thing I just realized after adding the portfolio returns functions to accomplish this to timeseries.py was that perhaps we want to breakout all portfolio returns construction functions into a new library file like portfolio.py

Let me know your thoughts @twiecki

[2015-09-29 14:55] justinlent opened #156 "Wrap all internal calls to helpers functions in create_full_tearsheet with try/except"
This would help ensure the tearsheet can generate all possible plots even in the event of a single plot failing or throwing an exception

[2015-09-29 14:57] justinlent opened #157 "BUG Fama-French factors fail to load because source data format has changed"
For the "UMD" (Momentum) factor, the source data column seems to have changed its name from "UMD" to "Mom"

![image](https://cloud.githubusercontent.com/assets/6541022/10168031/c0e8d676-667f-11e5-98c0-293b60f8703f.png)

[2015-09-29 15:29] twiecki commented on #157
Actually this might already be fixed in master.

[2015-10-02 17:05] humdings opened #158 "Incorrect Sortino ratio"
We are calculating the sortino ratio wrong, specifically the downside deviation portion.

Zipline has the same issue, see https://github.com/quantopian/zipline/issues/747 for an example, we only have issue 2 in pyfolio.

This paper by Red Rock Capital discusses the issue
http://www.redrockcapital.com/Sortino__A__Sharper__Ratio_Red_Rock_Capital.pdf

[2015-10-02 17:45] humdings commented on #158
Here is the correct function for downside deviations

[code]

[2015-10-02 22:20] humdings commented on #158
I wrote code that properly calculates the sortino ratio and checked it against the example in the Red Rock paper (output below).

One thing I'm not sure about is annualizing, they used annual returns in their example but we use daily returns.

Any thoughts @justinlent
[code]

[2015-10-02 23:22] justinlent commented on #158
@humdings what do you think about annualizing both the numerator and denominator values before doing the division?  So something like:

(mu * 252) / (downside_risk * sqrt(252))

I like reporting annualized values because I feel like that is industry convention.  But in the case of only a 2 year backtest, for example, computing 'mu' or 'downside_risk' with just 2 annual values would just be silly.

[2015-10-02 23:44] humdings commented on #158
That sounds good to me.

Since x / sqrt(x) = sqrt(x), we can just multiply the result by sqrt(252). Unless we want the downside deviation to return an annualized value.

I'll submit a PR for this since it's written already

[2015-10-02 23:50] justinlent commented on #158
Yep totally.  I was just being explicit with the annualization calculation for example - def makes sense to just multiply the result by sqrt(252)

[2015-10-04 00:51] #145 closed

[2015-10-04 17:38] bpajusco opened #160 "Attribute error in zipline TradingAlgorithm"
When I try to run the On-Line Portfolio Moving Average Reversion algorithm on the Pyfolio tutorials page it returns an attribute error: AttributeError: 'TradingAlgorithm' object has no attribute 'symbol'. Here is the full traceback:

AttributeError                            Traceback (most recent call last)
<ipython-input-6-7eb85cc092be> in <module>()
    147 olmar = TradingAlgorithm(handle_data=

[2015-10-04 21:38] twiecki commented on #160
Are you using zipline 0.7? We require a more recent version and should probably point that out somewhere.

[2015-10-05 06:22] bpajusco commented on #160
I'm using 0.7. Should I upgrade to a bleeding edge version?

On 04/10/15 22:38, Thomas Wiecki wrote:

[2015-10-05 09:10] twiecki commented on #160
Yes.

[2015-10-07 14:25] twiecki commented on #134
Was this period given a name? Or just Aug15

[2015-10-07 14:38] justinlent commented on #134
Let's call it "Fall2015"

[2015-10-07 14:38] justinlent commented on #134
you can also extend the date range to go from Aug15 thru Sept30

[2015-10-07 14:43] justinlent commented on #61
Closed with https://github.com/quantopian/pyfolio/commit/3c45d9e780f93fbdc7c2236e1fd66ab8529a6897

[2015-10-07 14:43] #61 closed

[2015-10-07 15:45] twiecki commented on #135
@humdings Any progress on this? Seems like the last item for 0.2 although we can probably also go ahead without it.

[2015-10-07 17:52] #134 closed

[2015-10-07 20:58] humdings commented on #135
No, I've been too slammed with other things lately, it should slow down a bit for me after next week though.

[2015-10-07 20:59] twiecki commented on #135
OK, no worries.

[2015-10-07 21:03] humdings commented on #144
@justinlent Where would I update this functionality? Is it just making `pos.get_portfolio_alloc` drop the cash as well? This will also need to work for both daily and intraday data I'm guessing.

[2015-10-07 21:32] justinlent commented on #144
@humdings David, yep, I think it's as simple to drop the cash as well.  Since we don't really support any intraday analysis (yet) in pyfolio, I think its safe to just get it working at daily frequency for now

[2015-10-08 19:55] justinlent commented on #157
Closing this for now. It looks to be fixed

[2015-10-08 19:55] #157 closed

[2015-10-08 19:56] justinlent commented on #146
All looks good now.  I updated my zipline to master from github

[2015-10-08 19:56] #146 closed

[2015-10-08 19:59] justinlent commented on #40
looks like this has been completed

[2015-10-08 19:59] #40 closed

[2015-10-09 18:48] KarenRubin opened #165 "When pyfolio is not given enough data to run entire tear sheet, be selective about what runs and give messages on the rest"
Currently when pyfolio is not given enough data, it fails.

We would like to modify it in the future so that if it is given less than idea data, the charts which still make sense run, and others either give an error "not enough data" or are not included in the tear sheet.

[2015-10-10 18:32] justinlent opened #167 "Change cone shading to show 1.0, 1.5, 2.0 stdev regions"

[2015-10-12 23:22] justinlent commented on #152
I propose we just remove the cone on this volatility matched plot. While working on the new multi-shaded cone branch I see how to fix this pretty easily, so I'll take it

[2015-10-13 00:20] justinlent commented on #167
@twiecki Can you look at my PR for this and see if you can figure out why Travis is failing? I fixed some obvious PEP8 and Python3 compat issues but now it looks like some weird ipython issues are cropping up but I did not even commit any new notebooks in this PR, so I'm stumped.

https://github.com/quantopian/pyfolio/pull/168

[2015-10-13 13:39] twiecki commented on #167
I'm investigating, but yeah, pretty sure it's unrelated to your changes.

[2015-10-13 14:52] twiecki opened #169 "Travis is failing"
https://github.com/conda/conda/issues/1701

[2015-10-13 14:53] twiecki commented on #167
Closing in favor of #168.

[2015-10-13 14:53] #167 closed

[2015-10-13 15:18] twiecki commented on #160
@bpajusco did that fix the issue? if not, please re-open.

[2015-10-13 15:18] #160 closed

[2015-10-13 16:55] twiecki commented on #152
+1 on removing the cone for the vol-matched case.

[2015-10-14 17:02] cgdeboer opened #171 "Release 0.2"
Perhaps after pull requests (particularly from the outside), like https://github.com/quantopian/pyfolio/pull/164, we could bump the version up to 0.1.1 (or some microversion-ish thing) and submit to pypi (which I imagine would happen after the build issue is resolved).

This would help immensely in cases (like mine ;) ) where pyfolio is a requirement in a project, and in order for pip to reinstall

[2015-10-14 19:28] twiecki commented on #171
Yeah, `0.2` is overdue. We can do that tomorrow.

[2015-10-15 00:31] cgdeboer commented on #171
Thanks @twiecki !!!

[2015-10-15 00:31] #171 closed

[2015-10-15 11:55] twiecki opened #172 "Volatility weighting NB seems to fail"
[code]

[2015-10-15 13:37] justinlent commented on #172
This is working for me on my local branch.  are you trying on Master?  any package updates that you've done (like the new pandas?) that may be causing it?  i'm still on this pandas:
![image](https://cloud.githubusercontent.com/assets/6541022/10515197/28da24cc-7307-11e5-863b-d012f9273063.png)

[2015-10-15 13:38] twiecki commented on #172
I'm on 0.17.0 which might be the issue. Can you try upgrading and see if you can reproduce that way?

[2015-10-15 13:47] justinlent commented on #172
cool, yea., I'll clone my current virtual env, and then just update to pandas 0.17.0 to try and isolate it to pandas

[2015-10-15 13:48] justinlent commented on #172
(but i probably won't get to trying this untill later today in the afternoon as I have some meetings in the morning)

[2015-10-15 17:57] justinlent commented on #172
confirmed. It fails on me when upgrading to pandas 0.17.0. ohhh pandas and how you consistently break backcompat... ;)

i think they messed around with how indexes should be set in this new release. let me see if its a quick fix

[2015-10-15 18:56] twiecki commented on #172
Related: https://github.com/pydata/pandas/issues/11336

[2015-10-15 19:11] justinlent commented on #172
@twiecki PR for your review
https://github.com/quantopian/pyfolio/pull/173

[2015-10-15 20:49] twiecki commented on #172
http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#removal-of-prior-version-deprecations-changes

[2015-10-15 20:53] #172 closed

[2015-10-16 10:46] timverheyden commented on #154
Any updates on this? Would love to start working with PyFolio but can't get it installed.

[2015-10-16 11:26] twiecki commented on #154
@timverheyden I just uploaded 0.2 to pypi, can you try if it works for you and let me know?

[2015-10-16 14:15] timverheyden commented on #154
Works as a charm. Thanks man! Excellent work!!!

[2015-10-16 14:19] #154 closed

[2015-10-16 14:23] twiecki commented on #35
This is fixed by dropping cash from that plot.

[2015-10-16 14:23] #35 closed

[2015-10-16 14:23] twiecki commented on #17
Implemented by https://github.com/quantopian/pyfolio/pull/166.

[2015-10-16 14:23] #17 closed

[2015-10-16 14:29] twiecki commented on #158
Fixed by https://github.com/quantopian/pyfolio/pull/159.

[2015-10-16 14:29] #158 closed

[2015-10-19 19:13] gliptak opened #175 "warnings in overview_slides.ipynb"
The slides at

http://nbviewer.ipython.org/format/slides/github/quantopian/pyfolio/blob/master/pyfolio/examples/overview_slides.ipynb

shows a number of warnings on several pages.

[2015-10-19 21:04] twiecki commented on #175
Yeah, those do pop up still but are harmless.

[2015-10-20 17:15] cmorgan opened #176 "pf.create_returns_tear_sheet(stock_rets) gives KeyError"
running pyfolio/examples/single_stock_example.ipynb gives

KeyError: ("None of [DatetimeIndex(['2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',\n               '2012-05-25', '2012-05-29', '2012-05-30', '2012-05-31',\n               '2012-06-01', '2012-06-04',\n               ...\n
            '2012-11-07', '2012-11-08', '2012-11-09', '2012-11-12',\n               '2012-11-13', '2012-11-14',

[2015-10-20 17:16] twiecki commented on #176
Are you using pandas 0.17?

[2015-10-21 12:22] twiecki commented on #152
Fixed by https://github.com/quantopian/pyfolio/pull/168

[2015-10-21 12:22] #152 closed

[2015-10-21 12:25] twiecki commented on #109
I think that's what the box plot is supposed to show. Thoughts?

[2015-10-21 12:25] twiecki commented on #103
@ACampbell22 is this still an issue? feel free to reopen if yes.

[2015-10-21 12:25] #103 closed

[2015-10-21 13:01] cmorgan commented on #176
That was it, also some libraries want to install the most recent numpy so had to fix the numpy installed version.

What are this projects thoughts on conda for dependency management?

The output of ``conda env export`` with pyfolio installed as ``python setup.py develop``:

dependencies:
- certifi=14.05.14=py27_0
- decorator=4.0.4=py27_0
- funcsigs=0.4=py27_0
- ipykernel=4.1.0=py27_0
- ipython=4.0

[2015-10-21 13:10] justinlent commented on #109
I don't think most people know how to interpret a box plot :)  As well the box plot only really shows the boundary values really well (mean, 25/75, 5/95, percentiles etc) but does not display the shape of the distribution, or the outlier "fat tails"/tail height as well as the observations histogram.  Unless maybe I'm not interpreting everything the box plot is showing correctly myself? ;)  I joke,

[2015-10-21 13:25] twiecki commented on #176
We just added a bunch of fixes for pandas 0.17 so if you try master it should work with numpy 0.10 and pandas 0.17. I'm using anaconda fine with pyfolio.

[2015-10-21 14:22] twiecki opened #178 "timeseries.cone_rolling needs refactoring"
@justinlent and I just looked at the code in `cone_rolling`. While functional, as we're relying on that code more and more it should be more robust. There seems to be an issue with <= logics, the warmup-period is obsolete, it's not tested etc. Probably a clean rewrite is the best path forward.

[2015-10-22 01:49] justinlent commented on #109
@twiecki  Here's an interesting/useful way to address this:  Let's move the box plot to the location where the current monthly returns histogram is located, and then on the row directly below, show 3 histogram plots, from left to right, for each returns frequency:  daily, weekly, monthly

I think lots of folks would get good use of this, as it allows for quick visual inspection of black swan/fat t

[2015-10-22 07:06] twiecki commented on #109
I like that!

[2015-10-22 17:56] a-campbell opened #179 "max_drawdown incorrect if drawdown begins on first day of returns time series"
Because we take cum_returns(returns, starting_value=1) to form the NAV time series off of which we calculate max drawdown, the first value of the NAV used in the max drawdown calculation is the portfolio value at the end of the first trading day. This means that when the first trading day is the first day of the max drawdown, we are not counting that day's loss in that max drawdown stat.

For exam

[2015-10-26 00:24] jonathanng commented on #151
+1

[2015-10-28 16:10] twiecki opened #183 "Display OOS data in box plot"
This plot:
![image](https://cloud.githubusercontent.com/assets/674200/15658222/11c2a450-26ba-11e6-8445-2903c98eefb0.png)

Should have the OOS daily, monthly and quarterly returns (if provided) as red crosses overlaid.

[2015-10-29 13:34] twiecki opened #184 "Slippage analysis and sector mapping need documentation"

[2015-10-29 15:59] justinlent opened #185 "Transaction parsing broken"
might be because I had to downgrade to pandas 0.16.1 in order to get zipline working for me.

![image](https://cloud.githubusercontent.com/assets/6541022/10823960/5a696218-7e1b-11e5-921f-95995d05a12c.png)

[2015-10-30 15:03] jkrauss82 commented on #176
Hi there

I am on Mac OSX 10.9.5, python 2.7, pandas 0.17.0, numpy 1.10.1 and ran into the same problem:

`File "/Library/Python/2.7/site-packages/pandas/core/indexing.py", line 1280, in _has_valid_type
    (key, self.obj._get_axis_name(axis)))
KeyError: ("None of [DatetimeIndex(['2014-03-28', '2014-03-31', '2014-04-01', '2014-04-02',\n               '2014-04-03', '2014-04-04', '2014-04-07', '2014

[2015-10-31 14:58] justinlent opened #186 "plotting.show_perf_stats, Exclude alpha and beta calculation if factor_returns parameter is not passed"
Ideally this exception handling, and failing gracefully, should be implemented throughout pyfolio.

![image](https://cloud.githubusercontent.com/assets/6541022/10864243/1a493272-7fa5-11e5-8ee3-c2491123099f.png)

[2015-10-31 15:23] justinlent commented on #186
closing for now, as apparently this is actually a bit of a bogus exception that results from a timezone issue. I got it to work, by first normalizing, then localizing the index of the backtest returns from my zipline backtest.

[2015-10-31 15:23] #186 closed

[2015-11-01 09:50] danbob123 commented on #185
+1

[2015-11-01 09:50] scubamut opened #187 "extract_rets_pos_txn_from_zipline failure with backtest run in research environment"
[code]

results in :

[code]

I could obviously work around this, but is this intentional?

[2015-11-01 12:46] twiecki commented on #187
Not intentional but a zipline version incompatibility. Thanks for reporting, we'll fix it.

[2015-11-01 12:47] twiecki commented on #187
Duplicate of https://github.com/quantopian/pyfolio/issues/187.

[2015-11-01 12:47] #187 closed

[2015-11-01 22:13] #149 closed

[2015-11-02 11:16] twiecki commented on #176
Will take a look soon.

[2015-11-02 14:37] jkrauss82 commented on #176
Short update: I cloned pyfolio from github and tried again with that version. Works fine now, so I guess whatever caused the error before has been fixed in the meantime. Before I used pyfolio in the version currently available through pip.

[2015-11-02 14:54] twiecki commented on #176
Ah, right. i bet https://github.com/quantopian/pyfolio/commit/709553a55b5df7c908d17f443cb17b51854a65be fixed it. Maybe we should release 0.3.1 soon.

[2015-11-02 14:54] #176 closed

[2015-11-03 00:14] justinlent opened #190 "Add timeseries plot of monthly returns to tearsheet"
Render using 'bar' type. So basically a timeseries bar graph showing the monthly returns of the algo.  This will allow the easy comparison of 2 algos based purely on their monthly returns - Is incredibily useful for comparing 2 different versions of the same underlying strategy to see which month's returns are dramatically changed from the small strategy "tweaks"

[2015-11-03 10:45] jkrauss82 opened #191 "Remove hard-coded "S&P500""
if providing individual benchmark_rets (e. g. ^GDAXI) some plots still show S&P500 in headline

Affected functions in plotting.py:
plot_rolling_beta
plot_rolling_returns

[2015-11-03 13:25] twiecki commented on #191
Thanks @jkrauss82. Want to submit a PR that fixed it?

[2015-11-03 16:18] gusgordon commented on #169
Mostly fixed now by a fix within conda I think, I might have time to finish this up tomorrow.

[2015-11-04 10:19] twiecki commented on #191
Fixed by #192.

[2015-11-04 10:19] #191 closed

[2015-11-05 10:00] #156 closed

[2015-11-05 16:00] jkrauss82 opened #197 "pos.get_percent_alloc not working correctly with short positions (?)"
The function mentioned in the subject is making values absolute before calculating their relative weight in the portfolio. However this leads to incorrect weights for short positions when assuming that you actually increase your cash when short selling a stock.

As I take from the positions example in tears.py

index         'AAPL'         'MSFT'          cash
2004-01-09    13939.3800     -14012.9

[2015-11-06 00:31] justinlent commented on #190
Closed via https://github.com/quantopian/pyfolio/commit/95f319c577f9be371bba20c777cfa2da3344c5a0

[2015-11-06 00:31] #190 closed

[2015-11-06 18:15] ACampbell22 commented on #197
I think you are correct. We should be using the net liquidation value (`net_liquidation = longs - abs(shorts) + cash`) as the denominator in get_percent_alloc. Currently we are double counting shorts.

We should also probably change that positions example to depict a more likely scenario where cash reflects the presence of short positions under the assumption of < 3x leverage.

Thanks for the head

[2015-11-06 21:05] leoleolam opened #198 "bayesian fail to plot if my testing period is too long?"
i was using plot_bayes_cone(rets, live_start_date = pd.Timestamp('2011-11-04', tz='UTC'))
if i move the live_start_date to a later date say 2013-11-04 it works fine. However, if i move it earlier it fail.
I also use a longer training series, it fails too
not much clue even I know where it is failing.

Is it a known issue? like we cannot put our live_start_date too earlier...
would need some advise

[2015-11-07 21:19] twiecki commented on #198
Seems more like you have nans in the returns. Can you call after `.dropna()` on your inputs?

[2015-11-09 08:54] twiecki commented on #151
Closed with https://github.com/quantopian/pyfolio/commit/7589050d7dc8df44a89c6e72e96d24b2ca237d82.

[2015-11-10 23:26] humdings commented on #197
@jkrauss82 Take a look at `pos.get_long_short_pos`, that should calculate the long and short allocations how you are expecting.

[2015-11-11 13:06] jkrauss82 commented on #197
Well actually I got it working simply by removing the `.abs()` in line 37 of pos.py. The way we create our input data then works fine for the rest of the process and percentage values come out correct.

I am not familiar with all of the pyfolio code so I do not know if other functions depend on `pos.get_percent_alloc` and depend on the old way?

[2015-11-11 17:31] twiecki opened #202 "test_sector_exposure test breaks in Python 3"
[code]

@ACampbell22 I think you wrote that test, would you mind taking a look?

[2015-11-11 20:23] ACampbell22 commented on #202
Tacked the fix onto this PR: https://github.com/quantopian/pyfolio/pull/201

[2015-11-12 06:48] twiecki commented on #197
Closed with https://github.com/quantopian/pyfolio/pull/201. Thanks for reporting @jkrauss82.

[2015-11-12 06:48] #197 closed

[2015-11-12 14:57] twiecki opened #203 "Add cents/share profit metric"
How much profit/loss was made per share.

[2015-11-14 16:18] justinlent opened #207 "For convenience, expose returns_style keyword parameter to tearsheet functions"
Lot's of people have personal opinions as to the style they want to use for computing annual returns.  Allow them to easily specify this such that it flows through to all the functions reliant on an annual returns computation.

For example, by default we are doing "compound" (Which I _strongly_ agree with), but many folks want our "calendar" style which most closely aligns with the CAGR calculatio

[2015-11-16 12:51] #202 closed

[2015-11-16 12:52] twiecki commented on #198
@leoleolam ping

[2015-11-16 16:59] leoleolam commented on #198
Hi twiecki,

I am now using an example which getting price from load_from_yahoo. And then I compute returns with dropna, it still getting the same issue. Would you be able to replicate and advise?

from zipline.utils.factory import load_from_yahoo

start = datetime(2001, 1, 1, 0, 0, 0, 0, pytz.utc)
end = datetime(2015, 1, 1, 0, 0, 0, 0, pytz.utc)
        # Load price data from yahoo.
data = load_f

[2015-11-16 17:01] leoleolam commented on #198
@twiecki

sorry, last line should be
pf.create_bayesian_tear_sheet(rets, live_start_date = pd.Timestamp('2011-11-04', tz='UTC'))

[2015-11-16 22:19] twiecki opened #208 "Add bootstrap to gain confidence in perf stats"
All perf stats like Sharpe should be computed along with a bootstrap analysis to get a sense of uncertainty.

[2015-11-16 22:19] twiecki commented on #208
https://en.wikipedia.org/wiki/Bootstrapping_(statistics)

[2015-11-16 22:57] furmaniak opened #209 "Fama-French data is never read from cache"
In `utils.load_portfolio_risk_factors` there is a call to `get_returns_cached(filepath, get_fama_french, end)`.
However, the FamaFrench data only goes up to Sept 30, so if `end>"Sept 30"`, then the check `returns.index[-1] < latest_dt` in `utils.get_returns_cached` returns false, and the data is downloaded anew.  In tests, this is the most time-consuming part of generating a tear sheet.

[2015-11-17 03:16] mickeydonkey opened #211 "plot_holding function calcuate the holding with some mistake"
the mistake happens in line 345 in the plotting .py file:
[code]
since ```np.NaN != 0```here
[code]
includes the case when position is NaN, which shoud be ignored when counting holdings.
also I believe compare a float with zero is not a good practice.

[2015-11-17 10:11] twiecki commented on #209
@furmaniak Thanks for the report, you're correct. The issue is that the Fama-French are updated but only infrequently. I'm not sure how we could know when it was updated or rather, what the latest available dt is what's on the website.

One idea would be to check the timestamp of the cache as well, rather than the latest available dt.

[2015-11-17 10:17] twiecki commented on #211
Thanks for the report.

You make two assertions: 1. the function should be robust to nans and 2. positions do not net out to 0 if sold. I'm not sure I agree with either. If you have nans you should fill them to 0 if that's what they mean.  What we could add is some assertions that check for e.g. nans being present.

[2015-11-17 10:37] twiecki commented on #198
I was able to run this:
[code]

![figure_1](https://cloud.githubusercontent.com/assets/674200/11209108/6c44f390-8d1f-11e5-9d1c-881057ec1b47.png)

The reason this didn't work for you is probably a recent fix I did here: https://github.com/quantopian/pyfolio/commit/7685f6fdc79253de83349de30ce5d5ff227775e3. So can you retry after updating to pymc3 master and pyfolio master?

I'm closing for now but f

[2015-11-17 10:37] #198 closed

[2015-11-17 15:42] justinlent opened #212 "annual_returns calculation for 'calender' style is not accurate"
I don't believe it computes the average annual return correctly since it currently just divides by num_years, where it should be computing the geometric return along the lines of:

total_return = (portfolio_end_value - portfolio_start_value) / portfolio_start_value
annual_return = (1+total_return) ^ (1/num_years) - 1

@twiecki Thoughts?

[2015-11-17 15:53] justinlent commented on #212
which is just the CAGR (compounded annual growth rate) calculation, so maybe we should change the method name from calendar -> CAGR.  Looks like folks in the Q forums refer to this method using CAGR. As well the annual return from CAGR is the same as "compound" which I somewhat proved to myself in an Excel spreadsheet, so having this style may just be redundant unless I'm missing an edge case or s

[2015-11-18 01:31] mickeydonkey commented on #211
OK, I wiil fill Nan with zero by myself.
Note that within the definition of create_full_tear_sheet there is description of positions parameter. in line 82,  it says "- Days where stocks are not held can be represented by 0 or NaN." this is inconsistent with the plot_holdings function and a bit misleading.

[2015-11-18 08:08] twiecki commented on #211
You're right. We'll fix that. Thanks.
On Nov 18, 2015 02:31, "Tao Luo" <notifications@github.com> wrote:

[2015-11-18 09:33] twiecki commented on #212
We're on the same page and should fix that asap.

[2015-11-18 17:55] #169 closed

[2015-11-19 09:43] twiecki opened #213 "Fix Sharpe ratio calculation"
Should be: mean(daily returns - risk_free) / std(daily returns - risk_free) * np.sqrt(252)

Adding for reference:
https://web.stanford.edu/~wfsharpe/art/sr/sr.htm

CC @justinlent

[2015-11-19 09:45] twiecki commented on #24
https://github.com/quantopian/pyfolio/pull/210

[2015-11-19 09:45] #24 closed

[2015-11-19 09:47] twiecki opened #214 "Move documentation to sphinx"
Specifically, it would be nice if we had an online manual.

[2015-11-19 09:48] twiecki commented on #211
Perhaps we could use engarde https://github.com/TomAugspurger/engarde

[2015-11-19 09:49] twiecki commented on #207
@justinlent what's your updated opinion on this?

[2015-11-19 09:49] #203 closed

[2015-11-19 09:50] twiecki commented on #178
@ACampbell22 Is that something you could help with? I think the complete code should be rewritten from first principles.

[2015-11-19 09:51] twiecki commented on #178
Moreover, a nice addition would be if it were possible to output the cone in a dataframe so that we can add automatic checks if a cone was breached.

[2015-11-19 09:52] twiecki opened #215 "Investigate tz issue on research"
https://www.quantopian.com/posts/help-using-pyfolio-with-zipline-in-a-notebook

[2015-11-19 15:42] justinlent commented on #213
+1
Outstanding question is how to handle the risk_free rate timeseries when it is commonly pulled in as an annual yield.

E.g.  If the daily value in the risk_free timeseries is 4% annual yield, is the daily yield:
a)  4% / 252
b) (1 + 4%)^(1/252) - 1

My thought is (b)

[2015-11-19 15:48] justinlent commented on #207
I think my updated opinion is to simplify it all and remove the returns_style keyword where ever it is currently, and just default to CAGR method for all returns computations, and deal with the edge cases (like Sharpe Ratio, which uses arithmetic returns) locally within these specific functions.

I'd be fine with closing this current issue and re-opening in favor of a new one based on what I descr

[2015-11-19 15:49] twiecki commented on #207
Sounds great.

[2015-11-19 15:49] #207 closed

[2015-11-20 09:39] twiecki opened #216 "Add versioneer"

[2015-11-23 11:20] twiecki commented on #213
Yep, agree with b:
[code]

[2015-11-23 16:56] a-campbell commented on #178
Started looking at this last night. Will get going on a refactor soon.

[2015-11-23 16:59] justinlent opened #217 "Add Liquidity analysis section to tearsheet"
At first just a simple table of data for every security the algo trades.

3 columns per ticker:

1)  Average Daily Trading Volume over last 3-months
2)  Minimum daily volume
3)  Maximum # of shares the algo ever placed an order for

[2015-11-23 20:09] twiecki commented on #178
:+1:

[2015-11-23 22:42] humdings commented on #215
Were those errors being thrown in the research env, or on somebody's local machine? It doesn't look like the code in the traceback matches the latest version of pyfolio.

I don't think that error will be an issue if pyfolio is updated. The following line is what was causing the error in utils.extract_rets_pos_txn_from_zipline()
`--> 369     transactions.index = transactions.index.normalize().tz_lo

[2015-11-23 23:36] a-campbell commented on #178
Do we want to continue to support the extend_fit_trend=False (refit linear cone with ever additional day of data) option? It adds a lot of complexity and isn't used in the full tear sheet.

[2015-11-23 23:40] twiecki commented on #178
Agreed, lets drop that.

[2015-11-24 00:50] a-campbell commented on #178
Is it right to use the slope of the line fit to the backtest cumulative returns as the slope of the midline of the future cone projection? If an algo returns 10 bps per day, its equity curve will have a much higher linear fit slope over a 13 year backtest than it will over a 1 year backtest (compounding).

Would it be more correct to project the backtest CAGR forward?

I am trying to make the "con

[2015-11-24 05:42] justinlent commented on #178
Hey Andrew, yes I agree simply applying the CAGR from the backtest as the OOS trend projection is a better, generalized implementation. I actually used that is a way to check the math of the regression approach if I recall since they should be equivalent when the regression is done with the intercept term (which I think is how it was implemented originally). 

**Sent from iPhone**

    ___________

[2015-11-24 14:50] justinlent commented on #178
@a-campbell ,
After sleeping on it, I think we'll want to try out both applications (the mean daily return, and the CAGR approach) to see what feels the most correct.  I'm a bit torn now that I think about it. Since the cone is calculated _everyday_ for application of risk monitoring in more or less _real-time_ I feel like we should be using the simple mean returns.  As I see it we have 2 approach

[2015-11-24 15:59] twiecki commented on #178
@a-campbell Just chatted with @justinlent internally and the compounding issue makes this all a bit weird. One thought is to instead use the Bayesian cone which does not have that issue rather than retrofit and refactor the existing one but other options also appear feasible.

Specifically, we could first compare these cones:

1. current linear cone
2. simulation from a normal distribution fit
3.

[2015-11-24 19:43] Jstauth opened #218 "add long/short position concentration plot to tearsheet"
![12_yr_summary_3](https://cloud.githubusercontent.com/assets/5178573/11378521/9daeb78c-92b9-11e5-9587-de0d245e4946.png)

Andrew built this awesome long/short position concentration plot that we've looked at previously. Should make it into pyfolio I think as it is generally applicable and useful across many different algos.

[2015-11-24 20:19] a-campbell commented on #178
The bayesian cone definitely seems like the most robust way to project future returns. The only downsides I can see to replacing the linear cone with a bayesian one are run time and potential user difficulty understanding MCMC.

We could make the midline of the linear cone compound. The cone function would take a backtest standard deviation, compounding adjusted mean daily return, standard deviati

[2015-11-24 21:40] #213 closed

[2015-11-24 23:14] a-campbell commented on #178
Since I was already pretty far along, I finished refactoring the linear OLS fit cone. Should be easy to drop in different ways of calculating the midline.

My work so far is here: https://github.com/quantopian/pyfolio/compare/cone-refactor?expand=1

[2015-11-25 07:12] #151 closed

[2015-11-25 09:59] twiecki commented on #215
Thanks @humdings. That's what I thought. I assumed `pyfolio` was updated on research but it seems that hasn't happened yet explaining the error.

[2015-11-29 01:09] ssanderson opened #222 "Rolling Beta plot fails if benchmark returns series name isn't a string."
For example, on Q Research, the name of the benchmark returns series is a Zipline Equity object, resulting in this traceback:
[code]

In general, I don't think pyfolio should be expecting that the returns timeseries has a string for a name.

[2015-11-29 08:05] #222 closed

[2015-11-30 22:22] a-campbell opened #224 "Add validation of inputs"
To ensure pyfolio is being passed correctly formatted inputs, it might be helpful to run returns, positions, and transactions through validation functions before the rest of pyfolio runs. These functions would check the column names, datatypes, datetime formats, and presence of nans in the returns, positions, transactions and gross leverage DataFrames.

Checking inputs upfront will allow us to sho

[2015-12-01 00:10] adzuci opened #225 "I can't run pyfolio in a virtualenv on OSX"
I think the root issue here is that virtualenv on OSX by default does not use a framework build of python & seaborn needs that at import time.

There are some work arounds here, but none of them seem like an ideal solution, has anyone worked around this in a virtualenv?
http://matplotlib.org/faq/virtualenv_faq.html

[code]
Results in:
[code]

I'm using these versions:
[code]

Related: https://gith

[2015-12-01 05:23] justinlent opened #227 "Add Information Ratio to tearsheet (the type from Fundamental Law of Active Management)"
described here:
http://www.barra.com/newsletter/nl163/SevIns3NL163.asp

[2015-12-01 07:47] twiecki commented on #225
I think it's a matplotlib issue, not a pyfolio one.

[2015-12-01 10:30] twiecki commented on #224
Related https://github.com/quantopian/pyfolio/issues/211

[2015-12-01 15:23] justinlent commented on #212
my current working opinion is we should simplify annual_return to simply be CAGR, so change the signature from:

```def annual_return(returns, style='compound', period=DAILY)```

to ```def annual_return(returns, period=DAILY)```

and then only have it return the CAGR result which is the fixed version of 'calendar' as described earlier in this thread

[2015-12-01 15:35] twiecki commented on #212
I agree with that.

[2015-12-01 16:37] twiecki opened #230 "Zipline example fails on round-trip analysis"
[code]

[2015-12-01 18:57] twiecki commented on #230
`0.17.1`.

[2015-12-01 21:06] a-campbell commented on #230
This appears to be failing when we try to append a single transaction dataframe to the complete transactions dataframe when the single transaction df does not have a 'dt' column but the complete transaction df does.

`closed_txns.drop('dt',axis=1).append(closing_txn)` works
`closed_txns.append(closing_txn)` does not work

Observing this failure in pyfolio, I am confused as to why this example does

[2015-12-01 21:33] twiecki commented on #230
OK, makes sense for both of them to have the same columns. And lets switch it to default to off.

[2015-12-01 22:08] adzuci commented on #225
I think the framework issue is a matplotlib+osx issue, but when the matplotlib backend is instantiated in the `__init__.py` file of pyfolio I can't just set the backend in the test files with `matplotlib.use('TkAgg')`.  I was looking for a way to make pyfolio more osx friendly that didn't involve changing the matplotlib backend, but I think that might require a change to seaborn or matplotlib.  My

[2015-12-02 00:37] a-campbell commented on #230
fixed in https://github.com/quantopian/pyfolio/commit/adee8316128d9d9545d9bed597802b16f9d9b9bd and https://github.com/quantopian/pyfolio/commit/d8d08247f7107a90e1e8addac6c8f0e0127aac83

[2015-12-02 00:37] #230 closed

[2015-12-02 09:12] twiecki commented on #212
Assigning to you as you worked most closely with this.

[2015-12-02 12:18] twiecki commented on #225
Thanks posting the work-around.

[2015-12-02 12:18] #225 closed

[2015-12-02 12:21] twiecki opened #231 "Remove requirement of gross_leverage and instead compute from positions."
We already compute the similar net leverage in the long-short plot: https://github.com/quantopian/pyfolio/blob/master/pyfolio/pos.py#L62.

[2015-12-02 12:21] twiecki commented on #227
Nice one. How are "independent bets per year" computed? Just number of trades?

[2015-12-02 14:54] justinlent commented on #227
I think it's definitely tough to infer # of independent bets without knowing underlying algo logic, but I'm thinking something along the lines of the using the roundtrip analysis you've done which, if I recall, infers # of trades per month from parsing the buy/sell transactions.  We could then just multiply # of trades per month by 12 to get an approximation of 'independent bets per year.'

[2015-12-02 15:37] twiecki opened #232 "Remove scikits-learn and statsmodels dependencies"
We use these for very simple functions we could easily call in scipy. That would make our requirements much slimmer.

[2015-12-03 01:04] justinlent commented on #212
@twiecki can you do a quick code review of my implementation in this PR https://github.com/quantopian/pyfolio/pull/234

[2015-12-03 18:25] a-campbell opened #236 "Pandas 0.17 is suppressing x axis tick labels when plotting time series"
The x axis labels disappeared when I upgraded from pandas 0.16 to 0.17.

![screenshot 2015-12-03 12 53 38](https://cloud.githubusercontent.com/assets/6374406/11569676/2788ae14-99c1-11e5-88e2-ccdfa9142f0d.png)

[2015-12-04 08:42] twiecki commented on #178
Closed with #233.

[2015-12-04 08:42] #178 closed

[2015-12-04 14:28] twiecki commented on #215
That indeed seems to have been the case.

[2015-12-04 14:28] #215 closed

[2015-12-04 14:28] twiecki commented on #185
@justinlent Is this still occurring?

[2015-12-04 14:29] twiecki commented on #184
Ping @a-campbell.

[2015-12-04 16:38] jmccorriston commented on #125
Got another reported instance of this in helpscout (https://secure.helpscout.net/conversation/145719827/8104/?folderId=605902):
"Hello I get the follwing error message in research for create_full_tear_sheet on the backtest portfolio shown at the end of the mail. Do i need to install any thing local to be able to run the tear_sheets? regards Jan /usr/local/lib/python2.7/dist-packages/pyfolio/utils.

[2015-12-04 20:24] twiecki commented on #125
@jmccorriston See https://github.com/quantopian/pyfolio/issues/129

[2015-12-04 20:32] twiecki commented on #129
Ping @llllllllll. @richafrank said you could help with this.

[2015-12-04 21:38] twiecki opened #238 "Add stock-wise performance attribution"

[2015-12-05 01:38] a-campbell commented on #238
How would this differ from the PnL attribution in the round trips tearsheet?

I've been wanting a way to know the profit breakdown by name for specific time spans in the backtest.

[2015-12-07 07:07] twiecki commented on #238
The round-trip has a similar analysis but it's not very general (because the round-trip is not very general) and makes a few assumptions.

We could compute something like this:
`returns_per_pos = daily_positions_alloc * daily_returns`
That way we get daily returns per position (or sector) without requiring any pricing information. Then we can aggregate over time to see which positions had the high

[2015-12-07 18:09] justinlent commented on #185
I think this is fixed with the latest commits on master, so I'll close it. We can re-open later if needed

[2015-12-07 18:09] #185 closed

[2015-12-08 09:35] twiecki commented on #209
Closed with #241.

[2015-12-08 09:35] #209 closed

[2015-12-08 09:35] twiecki commented on #129
Closed with #241.

[2015-12-08 09:35] #129 closed

[2015-12-08 13:26] richafrank commented on #216
Done in #240

[2015-12-08 13:26] #216 closed

[2015-12-08 15:53] a-campbell commented on #238
Makes sense. Would be great to give the user the ability to roll these daily returns per position into weekly, monthly, and yearly returns too.

Alternatively, we could back out the daily price changes of individual names using amounts from the transactions df and values from the positions df. That might get a little messy, though.

[2015-12-08 19:18] #218 closed

[2015-12-08 21:42] twiecki opened #244 "Problem with cache"
[code]

Any idea @llllllllll?

[2015-12-08 21:44] llllllllll commented on #244
https://github.com/quantopian/pyfolio/pull/242

[2015-12-08 21:45] twiecki commented on #244
:+1:

[2015-12-09 01:38] a-campbell commented on #184
Added notebooks:
c9f3091a430afd8db66738de0a3700a574a6d24c
4dcca220f287158b820d09602b21fb938837c30

[2015-12-09 01:38] #184 closed

[2015-12-09 01:38] #244 closed

[2015-12-09 03:09] justinlent opened #246 "Extracted positions dataframe columns should be ticker strings"
Run this cell in the zipline_example nb to extract the positions from the transactions data:

`returns, positions, transactions, gross_lev = pf.utils.extract_rets_pos_txn_from_zipline(backtest)`

![image](https://cloud.githubusercontent.com/assets/6541022/11675438/9f60d260-9dde-11e5-8f55-4419c0cbf0ad.png)

The columns are integers, which is not very informative and should some how either be the si

[2015-12-09 11:24] twiecki opened #248 "Add documentation for round-trip analysis"
Adding the sector-exposure analysis I noticed that we also don't really have a good description of the round-trip analysis and how to interpret it. Could you add something @a-campbell?

[2015-12-09 11:25] twiecki commented on #236
Should we include this in 0.4 @a-campbell?

[2015-12-09 11:25] #224 closed

[2015-12-09 11:26] twiecki commented on #211
@a-campbell wrote in #224:
"To ensure pyfolio is being passed correctly formatted inputs, it might be helpful to run returns, positions, and transactions through validation functions before the rest of pyfolio runs. These functions would check the column names, datatypes, datetime formats, and presence of nans in the returns, positions, transactions and gross leverage DataFrames.

Checking inputs

[2015-12-09 11:27] twiecki commented on #153
In which cases would you want to switch it off?

[2015-12-09 15:52] twiecki commented on #248
This already existed and is now added to the docs here: http://quantopian.github.io/pyfolio/round_trip_example/

[2015-12-09 15:52] #248 closed

[2015-12-09 17:14] justinlent commented on #153
@twiecki this was a pretty old request to serve as a way to deal with when the FF plot would throw an exception and keep the rest of the tearsheet from generating.  If we think we have addressed the root issue (FF plot throwing exception) then we can close this issue out.

[2015-12-09 19:36] twiecki opened #249 "BUG KeyError DatetimeIndex .. are in the [index]", u'occurred at index SMB'"
A user is reporting that calling create_returns_tear_sheet on current master is causing:

[code]

We're also seeing this on Quantopian research. I can't reproduce the issue locally and there have been several changes to the cache of the Fama-French. I'm running out of ideas of what the issue could be and I can't debug it. Anyone else who can reproduce and debug this further?

[2015-12-09 19:38] twiecki commented on #249
CC @ssanderson and @llllllllll who might have an idea.

[2015-12-09 20:20] abhijeetkalyan commented on #225
@adzuci @twiecki can we add this to the README? I just ran into this same issue

[2015-12-09 21:17] twiecki commented on #249
I figured it out. https://github.com/quantopian/pyfolio/pull/251 should fix it.

[2015-12-09 21:58] #249 closed

[2015-12-09 21:59] llllllllll opened #252 "test for #251"

[2015-12-10 01:01] a-campbell commented on #236
I'd say so. I'll take a deeper look now.

[2015-12-10 01:48] a-campbell commented on #236
fixed in 87a40d1386621248602423a7706f8a59dff59dd9

[2015-12-10 01:48] #236 closed

[2015-12-10 11:29] twiecki commented on #153
As of https://github.com/quantopian/pyfolio/pull/251 we should be good.

[2015-12-10 11:29] #153 closed

[2015-12-15 16:17] jmccorriston opened #255 "plot_rolling_returns() Y axis is not correct"
https://secure.helpscout.net/conversation/148743379/8198/?folderId=605902:

The Y axis is too high or totally jibberish for plot_rolling_returns(). The following code gives crazy Y axis values, despite qrets and pvr looking reasonable. As well, the actual lines on the plot seem correct (proportional to the difference in their value), so I believe just the Y axis ticks are wrong.
[code]

This examp

[2015-12-15 17:16] a-campbell opened #256 "Make colors differentiable"
Right now it is hard to see the difference between some line colors in the sector allocation plot. Brighter and darker colors might help.

[2015-12-15 19:49] richafrank commented on #214
@twiecki Do you think sphinx would produce a better online manual than what mk-docs is currently producing for the github.io page?  (Which features do we want?)

[2015-12-15 23:22] adzuci commented on #225
I put up a PR for https://github.com/quantopian/pyfolio/pull/257/files, I don't like the idea of adding a work around like this though unless there is no way to make it "just work".

[2015-12-16 07:21] twiecki commented on #255
Can you paste the plots?

[2015-12-16 07:35] twiecki commented on #214
@richafrank I'm happy with the current website, except that it's missing a manual from the doc strings of all functions.

[2015-12-17 13:08] twiecki commented on #212
Closed via #234

[2015-12-17 13:08] #212 closed

[2015-12-17 13:10] #101 closed

[2015-12-17 13:11] twiecki commented on #59
This is fixed.

[2015-12-17 13:11] #59 closed

[2015-12-22 13:19] leoleolam opened #263 "plot_monthly_returns_heatmap under different Matplotlib version"
When I try to plot the heatmap under Matplotlib 1.4.3 it is perfectly fine. Returns number are displayed well in each box and the y axis shows year labels clearly. However, when I switch to use Matplotlib 1.5.0, the return number are gone and y-axis years are messed up. I used seaborn 0.6.0 in both cases.

I am wondering if anyone notice this and advise.

Thanks

[2015-12-22 15:31] twiecki commented on #263
Can you post the image that's wrong?

[2015-12-22 19:25] leoleolam commented on #263
![image](https://cloud.githubusercontent.com/assets/15147146/11963869/b4119f4e-a8b7-11e5-91ea-cdddda3de189.png)

please see the sample above

[2015-12-23 09:28] #232 closed

[2015-12-24 15:18] justinlent opened #264 "Concentration Risk over time"
Show timeseries plot of # of positions that account for 50%, 80% and 100% of account value so we can track concentration risk over time.

[2015-12-28 00:31] justinlent opened #265 "Position weighting alpha/attribution analysis"
Using the zipline trades/transactions/order data, to generate simple baseline portfolios based on the trades.  Then compare these baseline portfolios to the actual algo to see if the algo is actually generating alpha based on the position weights it chooses.

The baseline portfolios could be generated in various ways, such as:
- [ ] equal-weight  (this is the most basic case, and should be impleme

[2015-12-29 20:36] a-campbell commented on #256
colormap='Set1' seems to help

[2015-12-29 20:48] ssanderson commented on #256
@a-campbell this might be interesting for you to take a look at if you haven't already: http://matplotlib.org/users/colormaps.html

[2016-01-02 00:26] twiecki commented on #263
Was seaborn bug https://github.com/mwaskom/seaborn/issues/619

[2016-01-02 00:26] #263 closed

[2016-01-04 18:47] a-campbell opened #266 "make interesting_times_tearsheet timespans user configurable"
A user might want to generate plots and risk metrics for a specific timespan not included in the default dates in interesting_times.py

[2016-01-05 07:01] twiecki commented on #214
Relevant: http://nbsphinx.readthedocs.org/

[2016-01-05 08:47] #208 closed

[2016-01-05 08:47] twiecki commented on #208
Closed by https://github.com/quantopian/pyfolio/pull/261

[2016-01-05 23:43] jehillparikh commented on #73
Hi Guys I think I am facing an import error, both Ubuntu 14.04LTS and OSX. Using anaconda, and zipline 0.7.0 at the moment (waiting for the conda update). I am aiming to start testing pyfolio in standalone mode, when there errors are depending if I have imported pandas or not, please see below. Would appreciate if have any help here.

import pyfolio as pf
​
----------------------------------------

[2016-01-05 23:47] twiecki commented on #73
I think this is unrelated to pyfolio but suggests that you're using an incompatible numpy. I'd try reinstalling that and making sure you're using the anaconda python.

[2016-01-05 23:53] jehillparikh commented on #73
Thanks for the prompt reply, I did try reinstalling it a couple of time no luck! Actually, I think zipline install using conda, downgrades the issue numpy!! The reason, I am using that is I am facing issues with pip install on zipline, which bit frustrating, and was wating for conda 0.8.14 release! Seems like I have no choice, I will give it a go! thanks for the feedback!

[2016-01-06 10:08] twiecki commented on #266
Should already be possible, e.g.
[code]

[2016-01-06 10:08] #266 closed

[2016-01-06 13:41] jehillparikh commented on #73
Just a feedback, the issue was related to downgrading grading of numpy etc while installing zipline using conda, I can't get pip install zipline (0.8.3) to work (if you could help that would be great, I have posted details)

So end of the day, pyfolio works fine in standalone mode, and in zipline (0.7.0) installed using conda, would be good to have them working togther. Not sure if waiting for zip

[2016-01-06 13:45] twiecki commented on #73
Yes, I'd wait for zipline 0.8.4 on conda. I hope we can make it numpy 1.10 compatible or it might not help with this.

[2016-01-06 13:58] jehillparikh commented on #73
Thanks that great, actually, pyfolio on conda would also be perfect Actually, I think these are main barriers to wider usage of the amazing work at quantopain. Have a look at the blogs probably installation issues, end up taking a lot of your time as well!!

Down grading numpy to 1.9 also broke my other packages, which are even trickier to install :(((((((

[2016-01-06 14:16] twiecki commented on #73
Yep, I'm well aware.

We can add pyfolio conda packages, just haven't so far as it should be very easy with pip install just because it doesn't require compilation but might as well add it.

[2016-01-06 15:25] twiecki commented on #73
@jehillparikh I uploaded a conda  package. Can you try: `conda install -c quantopian pyfolio`?

[2016-01-06 15:27] twiecki commented on #255
Ping @jmccorriston

[2016-01-06 15:29] #175 closed

[2016-01-06 15:50] jehillparikh commented on #73
conda pyfolio works! However, numpy was upgraded during installation, to
1.10, along with others, thus zipline doen'st work anymore, which I
expected.  I got the following error whiling running your Markovitz
portfolio example.

Is it possible to build pyfolio with same version as zipline ? Otherwise we
wait till zipline upgrade ?? Thanks!

runfile('/home/jehill/temp.py', wdir='/home/jehill')
[[

[2016-01-06 15:53] twiecki commented on #73
@jehillparikh Thanks for letting me know. Yeah, the only sensible thing is to have zipline work with numpy 1.10. @richafrank is working on the conda zipline package.

[2016-01-09 00:08] roryhr opened #268 "Zipline algorithm example broken?"
I'm attempting to verify I installed everything correctly (and I believe I did) but I can't get the "Zipline algorithm example" to run.
zipline 0.8.3
pyfolio 0.4.0
- dependencies from pip install...

[2016-01-09 01:14] justinlent opened #269 "User Request: Days Held by Symbol"
Days Held by Symbol
This answers the question: how many days did we hold the symbol

[2016-01-09 01:15] justinlent opened #270 "User Request: MFE/MAE "scattergrams" for each symbol traded"
MFE/MAE "scattergrams" for each symbol traded
This maps the relationship between Favorable to Adverse Excursion

[2016-01-09 01:15] justinlent opened #271 "User Request: CAGR for the most recent 3, 5, and 10 year periods"
CAGR for the most recent 3, 5, and 10 year periods
This would facilitate comparisons with "real world" strategies that all use these time frames for performance reporting.

[2016-01-21 15:04] jmccorriston commented on #255
Sorry @twiecki , must have missed the email, here are the plots:
First:
![image](https://cloud.githubusercontent.com/assets/4500507/12484050/513790f0-c026-11e5-96bf-0c2faec27e9b.png)

Second:
![image](https://cloud.githubusercontent.com/assets/4500507/12484063/6128928e-c026-11e5-8258-34f4c1d09005.png)

[2016-01-26 22:49] garyha opened #275 "pyfolio environment setup with git, to contribute"
Files using 'pip install pyfolio' may be different than cloning https://github.com/quantopian/pyfolio
(One with a directory called data the another a directory called examples)
Different locations too.
Also I have c:\python27 and another install of Python at c:\anaconda
For setup/run of ipython for notebooks in a browser, I did 'pip install jupyter' and that seemed to have taken care of a few thin

[2016-01-27 08:07] twiecki commented on #275
There are plenty of github tutorials, e.g. https://guides.github.com/activities/hello-world/. Specifically you'll want to fork this repo, commit your changes, and then submit a pull request.

[2016-01-27 08:08] twiecki commented on #275
Closing as it's not a pyfolio issue but feel free to comment/ask in this thread.

[2016-01-27 08:08] #275 closed

[2016-01-27 09:18] garyha commented on #275
Ok, forget about git then.

C:\Python27\Lib\site-packages\pyfolio>ipython notebook examples\quantopian_example.ipynb
[I 01:08:18.476 NotebookApp] Serving notebooks from local directory: C:\Python27\Lib\site-packages\pyfolio\examples
[I 01:08:18.477 NotebookApp] 0 active kernels
[I 01:08:18.483 NotebookApp] The IPython Notebook is running at: http://localhost:8888/
[I 01:08:18.484 NotebookApp] Use

[2016-01-27 10:08] twiecki commented on #255
Is that fixed with the new pyfolio? Seems like the datetimes get mangled somehow.

[2016-01-27 14:39] twiecki commented on #275
`get_backtest` is not available outside of quantopian. You need a zipline backtest or local files. See e.g. http://quantopian.github.io/pyfolio/zipline_algo_example/

In regards to the pull-request, you can just post the function with docs here and I can include it. We have functions that take `returns`, `positions`, and `transactions`.

[2016-01-27 21:22] jmccorriston commented on #255
Is the new version on Q prod?

[2016-01-27 21:35] twiecki commented on #255
Should be, yeah.

On Wed, Jan 27, 2016 at 10:22 PM, James McCorriston <
notifications@github.com> wrote:

[2016-01-27 21:40] jmccorriston commented on #255
Getting the same result.

[2016-01-27 22:24] garyha commented on #275
I see:
returns, positions, transactions, gross_lev = pf.utils.extract_rets_pos_txn_from_zipline(backtest)
...and that function is in pyfolio. Beautiful example at that link.

Great, and that route for pull is huge relief. Thanks.

[2016-01-30 21:24] garyha opened #277 "scipy ImportError ._ufuncs"
Google Groups pyfolio [0 msgs]
"Pyfolio is a Python library for performance and risk analysis of financial portfolios developed by [Quantopian Inc](https://www.quantopian.com). It works well with the [Zipline](http://zipline.io) open source backtesting library."

Win7 and Anaconda

With the steps below I'm seeing the error below.
My theory, which I don't have a lot of confidence in, is that the sc

[2016-02-01 08:47] twiecki commented on #277
Thanks for reporting, we definitely support Windows and problems on that platform are bugs. However, in this case I don't think it's a `pyfolio` issue but a problem with your python installation / anaconda.
Can you try `import scipy.special as special`? If that doesn't work it's a scipy / anaconda problem. Check if you're up-to-date, you can also try creating a new environemnt: (on cmd.exe) `conda

[2016-02-01 12:25] garyha commented on #277
That would be a Linux thing. On Windows you get this:
'import' is not recognized as an internal or external command, operable program or batch file.

_--Joe Jevnik  11/10/15_ on the zipline side, [here](https://groups.google.com/forum/#!topicsearchin/zipline/jevnik$20windows/zipline/pJvONLhD7m8)

I would like to see a numbered set of install steps _known to work on Windows 7_ please.

It currently

[2016-02-01 20:25] garyha commented on #277
_--Joe Jevnik  11/10/15_ on the zipline side, [here](https://groups.google.com/forum/#!topicsearchin/zipline/jevnik$20windows/zipline/pJvONLhD7m8)

It currently doesn't sound like zipline and pyfolio have reason to be able to work together on Windows without testing of zipline on Windows, and with the two requiring different versions of scipy.

I would like to see a **numbered set of install steps

[2016-02-01 23:07] garyha commented on #277
The file _ufuncs.pyd is not used while _ufuncs.py does not exist.
I created an empty ufuncs.py and then the next line hits an error with .basic:

[code]

Question for all of you out there! ...
Is anyone running zipline and pyfolio on Windows 7 ?  (I think no one is, because they can't, because it currently can't be done)

[2016-02-02 10:21] twiecki commented on #277
I'm not sure what you mean by downgrade? pyfolio shouldn't down-grade anything and work with recent versions. Again, this is an issue with your anaconda installation, not pyfolio. My hunch is that by installing zipline you were forced to downgrade scipy and numpy which caused these issues. We're aware of these problems in zipline and working to address them, but it's not a pyfolio issue.

[2016-02-02 10:53] twiecki commented on #255
That's probably a bug in the input data. We're cumulating the input so you can't plug in an arbitrary time-series. You'd have to call ax.plot(mytimeseries) outside of `plot_cum_returns`.

[2016-02-02 10:53] #255 closed

[2016-02-02 22:53] justinlent opened #278 "Add rolling annual volatility plot"
Similar to the rolling Sharpe Ratio plot, but just rolling annual volatility (which is simply the denominator from Sharpe Ratio).  As well, overlay the rolling annual volatility of SPY, say, in a lighter color, like gray.  This will allow easy visual comparison of an algo's volatility with the volatility of the US Stock Market (SPY)

[2016-02-02 22:54] justinlent opened #279 "Add VIX factor to the rolling Fama-French Risk Factor plot"
Just pull in the daily VIX data using yahoo finance, and compute the rolling timeseries of the VIX factor to the existing plot containing the Fama-French risk factors

[2016-02-02 23:23] justinlent opened #280 "compute "volatility beta" of an algo to a benchmark like SPY"
Idea here being:  How is the volatility of my trading strategy related to the volatility of the broad stock market.

A very simple, initial implementation might simply be computing the beta of the absolute returns of the algo versus the absolute returns of the benchmark.  Something like this:
`ols( abs(algo_returns), abs(SPY_returns) )`

[2016-02-03 03:44] humdings commented on #277
@garyha
Have you tried using the 32 bit Anaconda install for windows? If I remember correctly there was an issue running zipline on windows with the 64 bit Anaconda install.

[2016-02-03 06:39] garyha commented on #277
It was 32. Below, I'm starting over insuring everything is 32-bit, with notes.
By the downgrade, I should have said zipline's downgrade of several packages (shown above in the first comment) and I edited my recent comment where I had messed that up.

The problem is that zipline, at least for me in this environment (Windows), breaks pyfolio, so it is not pyfolio's fault, however I think it should g

[2016-02-03 08:47] garyha commented on #277
Looks pip is worthless in this on anaconda. Use 'conda install' instead.

Continuation of previous ...

-------------------------------
LaPack
-------------------------------
http://icl.cs.utk.edu/lapack-for-windows/
 LAPACK pre-built libraries
    Requirement: Visual Studio, Intel Fortran compiler

That webpage is not written for normal bipeds, I don't know what to do with it.

Seems like Microso

[2016-02-03 09:24] twiecki commented on #277
@garyha I'm closing this as it's not a pyfolio issue and will move discussion to that thread.

[2016-02-03 09:24] #277 closed

[2016-02-03 09:28] garyha commented on #277
Don't use 'pip install'. Use 'conda install'. You need to tell people that.

[2016-02-03 09:35] twiecki commented on #277
I didn't gather that from your description. As long as you install zipline before installing pyfolio, how you install pyfolio shouldn't matter.

Building updated zipline binary packages is our highest zipline priority right now so I hope the situation will be alleviated soon. Not sure if you want/can wait that long.

[2016-02-03 11:11] garyha commented on #277
pip only works for pyfolio by itself. If zipline is present, has to be 'conda install'. And pyfolio has to be installed second, that's new info here.

Sequence:
[code]

[2016-02-03 11:38] twiecki commented on #277
OK, that's actually a bad state of affairs, thanks for exploring and the instructions. We'll direct windows users to this thread.

[2016-02-14 09:22] dah33 opened #282 "Clarify units on scales"
Hi

The percentages in the results of the full tearsheet can be misleading.

`Top 10 long positions of all time (and max%)
[u'BTU' u'BBD' u'AGN' u'OIBR' u'TII' u'GENZ' u'AGNC' u'DELL' u'KMP' u'CAG']
[ 0.525  0.159  0.149  0.147  0.141  0.14   0.129  0.124  0.124  0.123]`

Here the units are decimals, rather than %. So 0.525 means 52.5% not 0.525%.

I think the graphs that show percentages could al

[2016-02-16 13:16] ckir opened #283 "nb question: how to extract Transaction Details and Daily Positions & Gains data tables"
Having a zipline pickle generated as

[code]

How can i print the Transaction Details and Daily Positions & Gains data tables as shown on Quantopian's web site after a Full Backtest run ??

I'm looking for a python not ipython solution (i don't need the plots at this stage) and to format data as json if possible.

[2016-02-16 17:38] twiecki commented on #283
@ckir See here for an example: http://quantopian.github.io/pyfolio/zipline_algo_example/

You can either run your backtest from within python (as the example shows), or load the pickle file back into python and call `pf.utils.extract_rets_pos_txn_from_zipline(backtest)`

[2016-02-17 10:48] ckir commented on #283
@twiecki Hi,

Please have a look at the following images to get an idea of what I’m looking for

[Transaction Details ](https://drive.google.com/file/d/0B_aFZjJihx3JRlc4aVRYaU5BYm8/view?usp=sharing)
[Daily Positions - Gains ](https://drive.google.com/file/d/0B_aFZjJihx3JWnBlQ2dFRWRLSDQ/view?usp=sharing)

I'm not a python programmer but I like to read a lot. So far I tried:

    import cPickle as p

[2016-02-17 15:27] twiecki commented on #283
`positions` and `transactions` are not what you're looking for?

[2016-02-18 14:30] ckir commented on #283
@twiecki I'm missing a way to convert "sid" to actual symbol.

When I look into transactions (converted to json as [transactions.to_json(date_format='iso')] I can see records containing "sid" but not the actual symbol

    "2002-02-11T21:00:00.000Z": [
        {
            "amount": 100,
            "commission": 3.0,
            "dt": "2002-02-11T00:00:00.000Z",
            "order_id": "346acd16

[2016-02-19 13:09] twiecki commented on #283
I meant `positions` and `transactions` after having called `returns, positions, transactions, gross_lev = pf.utils.extract_rets_pos_txn_from_zipline(perf_manual)`. Is that the output?

[2016-03-08 17:07] bpajusco opened #285 "Issue when running Bayesian Tear sheet ValueError: On entry to DGELSD parameter number 4 had an illegal values:open"
I've come across this error when running a tear sheet for a strategy backtest. The results aren't generated using zipline data or any of the Quantopian infrastructure and the equity curve doesn't look obviously wrong to me (i.e. there are no NaNs or Inf in the series). It's pretty hard to figure out what could be the reason for the error, besides the obvious observation that it has to do with fail

[2016-03-08 20:43] twiecki commented on #285
Hm, this is an odd one. It actually is inside `np.linalg.lstsq(X, y)[0]`, not the Bayesian model. That still strongly suggests a data error. If you enable pdb and drop in that call print X and y should make it obvious.

[2016-03-09 19:41] bpajusco commented on #285
Thanks Thomas.

It was indeed a data issue and to be precise it was down to a mismatch
between result and benchmark data as I've run the analysis on a global
portfolio but compared with the S&P which doesn't have data on US
holidays. I've put in a hack using .fillna(EPSILON) where the constant
has next to zero value and everything worked fine. Incidentally, I had a
bit of an issue on plot_stochast

[2016-03-31 03:28] mickeydonkey opened #288 "pull request #286 messes things up"
this PR change the output of pandas object to `np.ndarray`, which misses the information of what each number stands for.
take `perf_stats` as example, before `np.round` opearation:
![image](https://cloud.githubusercontent.com/assets/12562760/14164589/56a31dcc-f733-11e5-8fe6-7d04cc0284e5.png)
after round:
![image](https://cloud.githubusercontent.com/assets/12562760/14164599/6dccd934-f733-11e5-8ad3-

[2016-03-31 09:20] twiecki commented on #288
Thanks @mickeydonkey. I agree, will fix that soon.

[2016-03-31 10:57] twiecki commented on #288
@mickeydonkey Can you confirm that #289 fixes the issue for you?

[2016-03-31 12:11] #288 closed

[2016-03-31 12:12] twiecki opened #290 "Investigate why travis fails on bayesian.py."
[code]

https://travis-ci.org/quantopian/pyfolio/jobs/119783471

[2016-03-31 12:13] mickeydonkey commented on #288
Rounding number is OK now, and tables looks pretty in notebook. But PR [#289 ](https://github.com/quantopian/pyfolio/pull/289) introduces a new issue to me. that is I usually work with IPython console(Spyder IDE actually), and display some HTML object doesn't get any useful output, it looks like this:
![image](https://cloud.githubusercontent.com/assets/12562760/14175294/b738fba4-f77c-11e5-90d1-34c

[2016-03-31 12:15] twiecki commented on #288
Hm, thanks, have to find a better way.

[2016-03-31 12:27] mickeydonkey opened #291 "display some HTML object doesn't get any useful output in IPython console"
PR [#289](https://github.com/quantopian/pyfolio/pull/289) introduces a new issue to me. that is when working with IPython console, display some HTML object doesn't get any useful output, it looks like this:
![image](https://cloud.githubusercontent.com/assets/12562760/14175638/d1d0e74a-f77e-11e5-9e30-19d494da912a.png)

[2016-03-31 12:28] mickeydonkey commented on #288
I opened a new issue for this, [#291](https://github.com/quantopian/pyfolio/issues/291)

[2016-03-31 12:30] twiecki commented on #288
Thanks.

[2016-03-31 12:53] mickeydonkey commented on #291
@twiecki What if use `display(df)` instead of display(df.to_html()),
for notebook:
![image](https://cloud.githubusercontent.com/assets/12562760/14176177/48e210ae-f782-11e5-85a3-ebc86b2a3b9a.png)
for IPython console:
![image](https://cloud.githubusercontent.com/assets/12562760/14176192/5bc33716-f782-11e5-8283-de5a4c2b7788.png)
Now, they are both happy;)

[2016-03-31 12:53] twiecki commented on #291
@mickeydonkey Thanks for looking into that, will change. Do we even need the `get_ipython()` hack then?

[2016-03-31 12:54] twiecki commented on #291
Did you check whether that works from inside a function?

[2016-03-31 12:57] mickeydonkey commented on #291
I checked the following code for print inside a function, and it works as before:
`from IPython.display import display
df = pd.DataFrame([1,2],[3,4])
def smart_print(a):
    display(pd.DataFrame([1,2],[3,4]))
smart_print(df)
`

[2016-03-31 13:00] twiecki commented on #291
Sweet! Want to do a PR?

[2016-03-31 13:04] mickeydonkey commented on #291
Sorry, I haven't make any commit yet. in addition, I am not familiar with code styling stuff like PEP8. So you'd better fix it yourself. Thanks

[2016-03-31 13:08] mickeydonkey commented on #291
even if I do hope I could contribute the code.....

[2016-03-31 13:11] #291 closed

[2016-03-31 13:11] twiecki commented on #291
Much simpler, thanks for your help!

[2016-04-12 21:09] justinlent opened #292 "Portfolio VaR based on algo's stock holdings"
Described well here:

http://firsttimeprogrammer.blogspot.com/2015/01/portfolio-var-with-python.html

[2016-04-14 11:26] twiecki commented on #143
I think we do that now.

[2016-04-14 11:26] #143 closed

[2016-04-21 09:59] twiecki commented on #290
Fixed with https://github.com/quantopian/pyfolio/pull/295.

[2016-04-21 09:59] #290 closed

[2016-05-03 19:24] justinlent opened #296 "Add net exposure line to the Long/Short Exposure plot"
Just subtract Short from Long and plot the difference as a timeseries.
Also a couple of minor formatting changes.

Long exposure = _Green_
Short exposure = _Red_
Difference line = _Black dashed_

Make Long exposure line positive number, and Short exposure line all negative numbers:
(input from @Jstauth) rather than showing both as positive (abs) we should show the long as positive and short as neg

[2016-05-11 12:52] flaviodrt commented on #179
I think this issue can be closed.

[2016-05-11 12:54] twiecki commented on #179
:+1:

[2016-05-11 12:54] #179 closed

[2016-05-19 14:27] fretchen opened #300 "Pandas error when running the single stock example"
Hi, I am running the single stock example. As I run the line:

I obtain the following error:

    329             arg = getattr(arg, 'values', arg)
    330             result = tslib.array_with_unit_to_datetime(arg, unit,
--> 331                                                        errors=errors)
    332             if box:
    333                 if errors == 'ignore':

[2016-05-21 03:11] justinlent opened #302 "Error running setup.py"
Running `python setup.py develop` and seeing this:

[code]

[2016-05-21 03:46] justinlent commented on #302
realizing this my be a consequence of having upgraded to OSX El Capitan and it breaking a lot of developer related stuff

[2016-05-21 15:43] justinlent commented on #302
closing.  El Capitan just totally broke my Anaconda setup. Re-installing Anaconda fixed it

[2016-05-21 15:43] #302 closed

[2016-05-21 16:33] justinlent opened #303 "Fama-French plot should not throw exception if backtest returns start earlier than Fama-French factors"
the proper behavior should be something like, only start the rolling Fama-French factors from the time which the backtest returns indexes AND the Fama-French indexes intersect

![image](https://cloud.githubusercontent.com/assets/6541022/15449599/e7cd4f54-1f36-11e6-8ee6-b5daaeda0384.png)

[2016-05-21 16:36] justinlent opened #304 "plot_monthly_returns_heatmap should scale according to length of input returns"
long backtests result in a heatmap that is not readable

![image](https://cloud.githubusercontent.com/assets/6541022/15449618/850199a6-1f37-11e6-9ef7-19792361648f.png)

[2016-05-21 16:39] justinlent opened #305 "plot_annual_returns plot should scale according to length of backtest"
long backtests result in unreadable plot

![image](https://cloud.githubusercontent.com/assets/6541022/15449631/f21a361a-1f37-11e6-8ddf-905df6570288.png)

related to: https://github.com/quantopian/pyfolio/issues/304

[2016-05-21 16:47] justinlent commented on #16
Upping to high-priority.  I'll put my existing work on this, as well as the sector risk factors betas on a branch for someone to work from and productize

[2016-05-23 14:23] justinlent commented on #300
@fretchen This is likely do to the version of pandas.  What version are you on?

[2016-05-23 19:38] fretchen commented on #300
Hi, I run it with pandas 0.18.1 . I might try to downgrade pandas to test the version issue, but am not sure yet how this is typically done.

[2016-05-23 19:55] twiecki commented on #300
We should support `0.18.1` so I'll mark this as a bug, thanks for reporting.

[2016-05-24 14:09] fretchen commented on #300
Ok, I tried to convert it back to version `0.17.1` , but there I get another bug about the _rolling_ properties in pandas. However, as it does not show yet with pandas `0.18.1` I will report it here.

[2016-05-25 06:15] twiecki commented on #300
I can run `single_stock_example.ipynb` in the examples dir fine with `0.18.1`. In any case it seems to be working for you now so I'm closing this. Please reopen if the problem resurfaces.

[2016-05-31 15:48] saeedamen commented on #300
I appear to get a similar error

    fig = pf.create_returns_tear_sheet(stock_rets, return_fig=True)
  File "C:\Anaconda3-64\lib\site-packages\pyfolio\plotting.py", line 49, in call_w_context
    return func(*args, **kwargs)
  File "C:\Anaconda3-64\lib\site-packages\pyfolio\tears.py", line 356, in create_returns_tear_sheet
    returns, top=5, ax=ax_drawdown)
  File "C:\Anaconda3-64\lib\site-packag

[2016-06-02 17:06] ahgnaw commented on #183
@twiecki Should the boxplots (not the overlaid red crosses) include OOS data?

[2016-06-02 19:11] ahgnaw commented on #183
@twiecki I can overlay a stripplot of the oos data, however neither "x" or "+" are available marker styles. Here are three alternatives:

Default
![image](https://cloud.githubusercontent.com/assets/921335/15757236/9e138dce-28d2-11e6-88b3-a2c3542240de.png)

"."
![image](https://cloud.githubusercontent.com/assets/921335/15757341/1d81baa4-28d3-11e6-89e9-14880c21d721.png)

"d"
![image](https://cloud.g

[2016-06-02 20:06] twiecki commented on #183
Very cool!

No they should not.

I like the 3rd one as it pops out but is still kinda clean.

[2016-06-03 17:13] furmaniak opened #307 "install_reqs broken (missing sklearn dependency)"
Commit cf961391053046bbceb03160a92759f4f056bed0 removed sklearn from timeseries.py and also removed scikit-learn from setup.py.  However, sklearn is still used in plotting.py, so any attempts to use plotting.py will raise an exception on a fresh install.

[2016-06-07 11:30] twiecki commented on #183
Closed by https://github.com/quantopian/pyfolio/pull/306#issuecomment-224080196

[2016-06-07 11:30] #183 closed

[2016-06-07 13:25] twiecki commented on #300
Hm, I still can't reproduce. Can you show the output of
[code]

Mine is:
[code]

[2016-06-07 20:47] ahgnaw commented on #183
https://github.com/quantopian/pyfolio/pull/306

[2016-06-08 11:32] saeedamen commented on #300
Here is my output

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.1.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None

pandas: 0.18.1
nose: 1.3.7
pip: 8.1.1
setuptools: 20.3
Cython: 0.23.4
numpy: 1.11.0
scipy: 0.17.0
statsmodels: 0.6.1
xarray: None
IPython: 4.1.2

[2016-06-08 12:51] ahgnaw commented on #183
https://github.com/quantopian/pyfolio/pull/308

[2016-06-08 16:32] twiecki commented on #300
The thing I notice is `numpy: 1.11.0`. Which I don't seem to get via anaconda yet. Can you try with an environment that uses numpy 1.10?

[2016-06-09 03:40] knajimi commented on #300
Just upgraded pyfolio to 0.5.0 and pandas to 0.18.1 and am now getting the same error.  Also using numpy 1.11.0.

[2016-06-09 06:50] twiecki commented on #300
Can you try upgrading to pyfolio master?

[2016-06-09 06:51] twiecki commented on #300
Potentially https://github.com/quantopian/pyfolio/pull/297 fixed it.

[2016-06-09 15:06] abhijeetkalyan commented on #300
I ran into this same issue when using pyfolio `0.5.0`. The fix was to upgrade to pyfolio master, via:
[code]
for reference, this is what the relevant line of `pip freeze` looks like now:
[code]
This is in a virtualenv using pandas `0.18.1` and numpy `1.11.0`.

[2016-06-09 15:09] twiecki commented on #300
Thanks @abhijeetkalyan. We'll release a 0.5.1 soon that should have the fix.

[2016-06-09 15:55] knajimi commented on #300
upgrade to master worked for me.  thx!

[2016-06-10 07:55] #307 closed

[2016-06-10 08:04] twiecki commented on #300
OK, I released a `0.5.1` to fix this behavior: http://quantopian.github.io/pyfolio/whatsnew/#v051-june-10-2016

[2016-06-10 08:04] #300 closed

[2016-07-08 02:24] justinlent commented on #296
See conversation thread here for description of the bug and possible fixes:  https://github.com/quantopian/pyfolio/pull/301

[2016-07-08 02:25] justinlent commented on #296
@adeychman just FYI for you

[2016-07-16 14:43] nooperpudd opened #315 "Please avoid ` from packages import *`"
I want to import some function in the pyfolio.
but if I try to import pyfolio , another python process will run a service just like ipython progress  and
suspend the process.

better to avoid `from packages import *` in the `__init__.py` file or in other python file.

I think the problems should be in `seaborn`.

[2016-07-18 08:58] twiecki commented on #315
Thanks for reporting.

suspend the process

Not sure what you mean here, which process? If there's a problem with importing seaborn, pyfolio won't be functional to begin with.

[2016-07-26 03:25] niumuguang opened #316 "I found an error that "AttributeError: 'Series' object has no attribute 'rolling'""
My environment:
numpy (1.11.1)
pandas (0.17.1)
jupyter (1.0.0)
jupyter-client (4.3.0)
jupyter-console (5.0.0)
jupyter-core (4.1.0)
rtslib-fb (2.1.57)
scikit-learn (0.17.1)
scipy (0.17.1)
seaborn (0.7.1)
seobject (0.1)
sepolicy (1.1)

error context:
/usr/lib64/python2.7/site-packages/pandas/core/generic.pyc in **getattr**(self, name)
   2358                 return self[name]
   2359             rai

[2016-07-26 08:58] twiecki commented on #316
You need to update `pandas` to 0.18 or higher.

[2016-07-26 09:44] twiecki opened #317 "Add SQN metric"
http://backtrader.readthedocs.io/en/latest/analyzers-reference.html#sqn

[2016-08-10 09:26] junajo10 opened #318 "Documentation about metrics"
Hello,

I am new using Pyfolio, is there any place where i can find documentation about these metrics?
annual_return
annual_volatility
sharpe_ratio
calmar_ratio
stability
max_drawdown
omega_ratio
sortino_ratio
skewness
kurtosis
alpha
beta

[2016-08-11 14:18] twiecki commented on #318
Good point, I moved this over here: https://github.com/quantopian/qrisk/issues/12

[2016-08-11 14:19] twiecki commented on #318
Good point, will add these.

[2016-08-11 16:59] junajo10 opened #319 "Problem proxy access http://ichart.fina nce.yahoo.com/table.csv"
Hi,
My code:
import pyfolio as pf
stock_rets = pf.utils.get_symbol_rets('FB')
pf.create_returns_tear_sheet(stock_rets, live_start_date='2015-12-1')

First error:
raise ConnectionError(err, request=request)
requests.exceptions.ConnectionError: ('Connection aborted.', gaierror(11004, 'getaddrinfo failed'))
 I have set:
os.environ['https_proxy']
os.environ['http_proxy_host']
Now, the error is:
File "

[2016-08-12 10:55] junajo10 commented on #319
I have solved the problem setting the os.environ['https_proxy']

[2016-08-12 10:55] #319 closed

[2016-08-23 16:13] jmccorriston opened #321 "Tearsheets can't be generated for results with no EOD positions"
https://github.com/quantopian/pyfolio/blob/62aaaad446c959061ed96efdaac5ec655686db54/pyfolio/utils.py#L412

A non-empty positions DF is required in order to create a tearsheet. This means that an algorithm which closes all of it's positions before the end of each day cannot be analyzed with a tearsheet.

[2016-08-25 12:42] js190 opened #322 "returns are none simple, which statistics apply?"
Hi there,
my return series consists of actual returns. This is because we are settling a commodity against a daily auction.

Which of the statistics in pyfolio are applicable to actual returns?
I'm a newbie with regard to portfolio analysis so any pointers appreciated, thanks!

[2016-08-25 12:48] twiecki commented on #322
Not sure what you mean with "actual returns", as opposed to what?

[2016-08-25 15:23] js190 commented on #322
as opposed to simple returns

[2016-08-26 14:54] js190 commented on #322
am i making sense?
any pointers appreciated :)

[2016-08-26 15:28] twiecki commented on #322
Can't you convert to simple returns?

[2016-08-26 16:27] twiecki opened #323 "Add histogram of turnover bucketed across the time of day"
i.e., the ability to see what time of day the algo trades typically

[2016-08-31 13:42] ahgnaw commented on #318
@junajo10 Here is the link to the empyrical documentation. This library is used in the website and in pyfolio for risk calculations.

http://quantopian.github.io/empyrical/appendix.html#

[2016-08-31 13:43] ahgnaw commented on #317
Closed in favor of https://github.com/quantopian/empyrical/issues/9

[2016-08-31 13:43] #317 closed

[2016-09-06 19:50] junajo10 commented on #318
Thanks, do you know if these metrics could be used with intraday strategies? I am using tick data. If you think there are better metrics than these ones, please let me know.

[2016-09-07 13:37] bukeyi commented on #149
Which version PyMC3 will work current? I use

`conda install -c trung pymc3=2016.4.27`

But the error is still there!

[2016-09-07 14:10] bukeyi commented on #149
Also, is there a recommended module versions for use in anaconda from Quantopian? Many thanks!

[2016-09-07 14:11] twiecki commented on #149
Current pymc3 master should do it:
`pip install -U --no-deps git+https://github.com/pymc-devs/pymc3`

[2016-09-07 16:54] junajo10 opened #326 "Pyfolio work with tick data?"
Hi,

I am trying to use pyfolio with 1 minute bars, but i am not able to run it. is it able to work with pyfolio using tick data?

ID,Date,Time,Type,Open,High,Low,Last,Volume,Open Interest
X,07/28/16,09:15:00,T,20.6586,20.7247,20.6586,20.6859,0.0,0.0
X,07/28/16,09:16:00,T,20.6949,20.7271,20.682,20.702,0.0,0.0
X,07/28/16,09:17:00,T,20.6937,20.7775,20.6878,20.7775,0.0,0.0
X,07/28/16,09:18:00,T,20.76

[2016-09-08 10:08] twiecki commented on #326
Unfortunately the smallest unit pyfolio was designed for is daily returns. It might still work but you're not passing in minutely returns either.

I'm closing this as this is probably not on our roadmap but feel free to keep asking questions.

[2016-09-08 10:08] #326 closed

[2016-10-13 15:03] twiecki opened #340 "Fix round_trips per day and round_trips per month"
See https://github.com/quantopian/pyfolio/pull/339/files#diff-e04f37cb09c835f5337dab0544f99953R62.

[2016-10-17 14:34] twiecki opened #342 "Add pyfolio to conda-forge"
Supports automatic cross-platform builds for conda packages: https://conda-forge.github.io/

[2016-10-19 18:26] gusgordon opened #343 "Show average leverage in summary stats"
It would be convenient to have the average leverage of a strategy in the summary stats table.

[2016-10-19 18:35] gusgordon opened #344 "Investigate possible bugged holdings plots"
Some of the holdings plots may be incorrectly displaying positions. This should be investigated — the plots should be checked against the holdings data.

[2016-10-31 15:06] bpajusco opened #346 "Optimisation error when running Bayesian alpha-beta model"
I'm having issues when running this particular part of a bayesian tear sheet. In particular, pyfolio is complaining that pymc3 can't find a MAP assignment since logp has a negative value. I'm quite confused as to why this is the case and I tried to run the same function on SPY data sourced using pandas data reader. Here is the code plus full error message:

[code]
[code]

[2016-11-04 16:38] #322 closed

[2016-11-04 16:39] #318 closed

[2016-11-04 16:39] #316 closed

[2016-11-04 16:39] #283 closed

[2016-11-04 16:39] #268 closed

[2016-11-04 16:42] #315 closed

[2016-11-04 16:47] gusgordon commented on #321
Yeah, we can fix this by constructing `positions` from `transactions`, which will give us intraday data. I'm gonna mark this as high priority.

[2016-11-04 16:48] #285 closed

[2016-11-04 16:53] #125 closed

[2016-11-04 16:54] #89 closed

[2016-11-08 00:03] alizrrao opened #348 "User request: Add metrics e.g. % winning trades, Avg trade duration"
Commonly used system metrics include:

Gross profit
Gross loss
Profit factor (= gross profit / gross loss)
Total number of trades
Percent profitable
Winning trades
Losing trades
Average trade net profit
Average winning trade
Average losing trade
Largest winning trade
Largest losing trade
Ratio average win : average loss (or W:L ratio)
Average trade duration
Average trade duration in winning trades

[2016-11-08 02:45] twiecki commented on #348
Those should all be part of the round-trip tear sheet.

[2016-11-08 02:45] #348 closed

[2016-11-09 20:41] #136 closed

[2016-11-09 21:19] #343 closed

[2016-11-09 22:11] gusgordon commented on #344
Closed by #349

[2016-11-09 22:11] #344 closed

[2016-11-21 08:10] treydog999 opened #352 "Plot for Cone displayed at 0 line, using single_stock_example notebook"
I am using the single_stock_example notebook and have changed the symbol to IBM. Now when I run this code, the blue cone and the out of sample plot are not aligned. The blue cone is rather on the 0 line.

    %matplotlib inline
    import pyfolio as pf
    stock_rets = pf.utils.get_symbol_rets('IBM')
    pf.create_returns_tear_sheet(stock_rets, live_start_date='2015-12-1')

![image](https://cloud.

[2016-11-21 08:23] twiecki commented on #352
Thanks for reporting. @ahgnaw any ideas?

[2016-11-21 20:43] ahgnaw commented on #352
@treydog999 @twiecki This issue was solved by @gusgordon (https://github.com/quantopian/pyfolio/commit/38e265caaa0cdd094490dd19caaa207868fdace6)already. Unfortunately the fix has not made it to the pypi repository yet. @treydog999 the issue goes away if you use the latest pyfolio version on github.

[2016-11-25 22:27] #352 closed

[2016-11-29 21:08] dwixom opened #354 "Hardcoded Chart Labels"
When I create a full tearsheet using a different benchmark, I am unable to change the benchmark label for the stress test charts to reflect my benchmark (Not the SPY), and I also don't want the algorithm to be labeled "algo" because it looks unprofessional.

<img width="894" alt="screen shot 2016-11-29 at 4 06 44 pm" src="https://cloud.githubusercontent.com/assets/8524054/20728902/de24ffc0-b64d-11

[2016-11-30 08:46] twiecki commented on #354
Yes, great points. Want to submit a PR?

[2016-12-08 11:59] twiecki commented on #346
Thanks for the report, we'll improve the initialization soon.

[2016-12-08 12:00] twiecki opened #356 "Stalling travis"
The BEST Bayesian model samples very slow causing Travis to time-out.
This is due to a bug in PyMC3 which is fixed here: https://github.com/pymc-devs/pymc3/pull/1582

[2016-12-08 15:55] gusgordon opened #357 "Add support for different frequencies of data"
Currently, we only officially support daily returns and positions streams. Some tear sheets and plots work okay with other frequencies of data (e.g. monthly). Other plots and performance functions, namely the beta and Fama-French factors, will fail to compute accurate measures because they compare their daily reference data to whatever is thrown at them.

It would definitely be useful to support d

[2016-12-14 20:02] gusgordon commented on #356
Fixed for now, but I'll leave this open so we remember to swap to the PyPI PyMC3 in Travis.

[2016-12-14 20:05] #323 closed

[2016-12-14 20:05] #321 closed

[2017-01-09 05:47] yonil7 opened #359 "Create full tear sheet from transactions only"
I would like to be able to export all the trades from my broker and create a full tear sheet using this data only. (without passing also returns series)

Example to this can be seen in R Blotters package:

http://artax.karlin.mff.cuni.cz/r-help/library/blotter/html/blotter-package.html

[2017-01-09 11:08] twiecki commented on #359
That would be a good feature. We started with this somewhat (although it's not quite what you need), here: https://github.com/quantopian/pyfolio/blob/master/pyfolio/utils.py#L635

[2017-01-09 15:57] jmccorriston opened #360 "Change y-label of Cumulative Returns Volatility plot"
![image](https://cloud.githubusercontent.com/assets/4500507/21772698/4b8a02aa-d65a-11e6-84ae-0883d0de17f1.png)

When I originally saw these two plots, I didn't understand the difference because I was looking at the y-label. I think the y-axis label on the second plot should be 'Cumulative Returns Volatility'.

[2017-01-11 11:45] luca-s opened #361 "Default plotting style context doesn't affect the facet colour"
The[ plotting.context function](https://github.com/quantopian/pyfolio/blob/master/pyfolio/plotting.py#L62) tries to set the defaults for 'axes.facecolor' and 'figure.facecolor' using seaborn.plotting_context(), but it cannot work as  that function is intended to control the **scale** of plot elements, not those properties. The seaborn.axes_style()  fucntion should be used instead. See http://seabo

[2017-01-14 13:05] luca-s commented on #361
The fix can be ported from [here](https://github.com/quantopian/alphalens/pull/125) as the code is identical

[2017-02-14 16:10] gusgordon opened #363 "Add longest and shortest holding times to round trips table"
It would be useful if this table also had minimum and maximum holding duration:
![pasted image at 2017_02_14 11_01 am](https://cloud.githubusercontent.com/assets/1934957/22937259/115e0988-f2a6-11e6-89b7-ec210c181e7a.png)

[2017-02-17 16:46] tapsan80 opened #364 "I am having issues in installing pyfolio on anaconda"
conda install -c twiecki pyfolio=0.5.1

it is giving my errors, did anyone have issues with this.

Best,
Sankha

[2017-02-20 08:55] twiecki commented on #364
You should use -c quantopian.

[2017-02-20 15:07] tapsan80 commented on #364
thank you thomas it worked.

[2017-02-20 16:24] #364 closed

[2017-03-03 12:06] #363 closed

[2017-03-04 14:07] hkopp opened #368 "zipline_algo_example.ipynb does not work."
Everything works up to the command

`pf.create_full_tear_sheet(returns, positions=positions, transactions=transactions,
                          live_start_date='2009-10-22', round_trips=True)`

There, i get the following error:

[code]

I strongly assume the problem is, that rolling is time-series aware since pandas 0.19.0 [see here](http://pandas.pydata.org/pandas-docs/version/0.19.0/whatsnew.h

[2017-03-07 17:27] gusgordon commented on #368
Thanks for pointing this out - seems like you're right.

[2017-03-07 19:05] hkopp commented on #368
If you tell me against which branch I should do my pull-request, then I can fix it myself.

[2017-03-07 19:53] gusgordon commented on #368
Awesome, thanks! You can just use master, it's up to date.

[2017-03-07 21:23] FitzroyCM opened #370 "There's no such a function portfolio_returns_metric_weighted in timeseries"
I was trying to run this example Fama-French Benchmark.ipynb, but found there's no such a function portfolio_returns_metric_weighted in timeseries.py. Maybe I'm missing something, but could anyone clarify this for me?

Thanks,
FCM

[2017-03-07 21:44] twiecki commented on #370
It seems like that NB is out-of-date.

[2017-03-07 21:44] #368 closed

[2017-04-01 01:32] cnimativ opened #372 "pyfolio import error"
Hi,

Pyfolio was working fine previously but for some reason it is no longer working. Specifically, I am getting the following errors when I try to `import pyfolio as pf`.  Any pointers on how to fix this?

[code]

[2017-04-01 03:08] cnimativ commented on #372
Seems like there are some issues with linking to the `bottleneck` package. I've fixed it by
`pip install --ignore-installed bottleneck`. Not sure why or how it happened.

[2017-04-01 03:08] #372 closed

[2017-04-06 09:20] twiecki commented on #372
I think this is an actual issue, bottleneck shouldn't be a required dependency.

[2017-04-10 16:29] AkramKamal opened #373 "Use pyfolio in browser side"
Can i use this python control in the browser side?

[2017-04-10 18:38] twiecki commented on #373
How do you mean?

[2017-04-10 18:43] AkramKamal commented on #373
Something like the Jupiter notebook

[2017-04-11 12:22] twiecki commented on #373
You can use pyfolio inside the jupyter notebook.

[2017-04-11 12:22] #373 closed

[2017-04-28 16:02] cnimativ commented on #372
@twiecki I am on Windows 10 w/ miniconda.  I installed pyfolio after activating my anaconda environment w/ `pip install pyfolio`

[2017-05-09 03:05] mckelvin opened #378 "Pandas 0.20.x compatibility"
Pandas 0.20.x was [released](http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#v0-20-1-may-5-2017) a few days ago. There're some major changes which break pyfolio.

[2017-05-09 07:59] twiecki commented on #378
Thanks @mckelvin. Any help would be much appreciated.

[2017-05-12 12:26] twiecki opened #379 "Fama-French should use multivariate regression"
https://github.com/quantopian/pyfolio/blob/master/pyfolio/timeseries.py#L563 shows we are using separate linear regressions which is problematic because the factors are confounded.

We should instead use multivariate regression: http://stackoverflow.com/questions/19991445/run-an-ols-regression-with-pandas-data-frame

CC @jlowin

[2017-05-13 13:08] citynorman commented on #153
This is still a problem, right now I'm getting a download error for the FF data library and I can't turn off the FF plots.

http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/F-F_Research_Data_Factors_daily_CSV.zip
File Transfer Blocked
Transfer of the file you were trying to download or upload has been blocked in accordance with company policy. Please contact your system administrator if

[2017-05-13 13:16] citynorman opened #380 "Fama-French File Transfer Blocked"
I'm getting a download error for the FF data library and I can't turn off the FF plots have to manually deactivate them by commenting out the code.

http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/F-F_Research_Data_Factors_daily_CSV.zip
File Transfer Blocked
Transfer of the file you were trying to download or upload has been blocked in accordance with company policy. Please contact your

[2017-05-15 11:21] bpajusco opened #381 "Bayesian Tear"
When using a custom benchmark or when returns series dates don't match exactly those of the benchmark series Pymc3 optimisation fails to calculate MAP assignments and falls over. To fix this problem is sufficient to amend line 88 and 96 in bayesian.py to deal with NaN values.

[2017-05-15 12:53] twiecki commented on #381
@bpajusco Thanks! Want to submit a PR with the fix?

[2017-05-15 14:19] bpajusco commented on #381
I've submitted changes via git commit on master 5ab7a66 but failed to open a pull request as I can't find the right branches to compare. I'm not the most proficient git hub user but I can certainly do so if directed how to open the request

[2017-05-15 14:26] twiecki commented on #381
https://help.github.com/articles/about-pull-requests/

On Mon, May 15, 2017 at 4:19 PM, bpajusco <notifications@github.com> wrote:

[2017-05-15 15:19] bpajusco commented on #381
Thanks! I think I've submitted a pull request

[2017-05-17 03:55] webdev522 opened #384 "Help me create "Cumulative Returns" chart."
Dear Sir.

I am a developer from Japan.
I am very interested in your pyfolio repository.

I'd like to create "Cumulative Returns" chart but I have a difficult to understand your whole code.
Which file contains algorithm for "Cumulative Returns" and Bayesian cone.
I have data for the chart on my local machine.

Looking forward to your quick reply.

Best Regards,
Your follower.

[2017-05-17 08:48] twiecki commented on #384
https://github.com/quantopian/empyrical/blob/master/empyrical/stats.py#L103 and https://github.com/quantopian/pyfolio/blob/master/pyfolio/bayesian.py#L614

[2017-05-17 08:48] #384 closed

[2017-05-17 11:55] merl-dev opened #385 "Yahoo URL Error"
When the following is run
[code]
I get a RemoteDataError for the baked-in URL.  Apparently Yahoo has made some recent changes to their API's
[code]

[2017-05-17 14:00] twiecki commented on #385
That seems like a bug in pandas-datareader.

[2017-05-17 14:31] FreddieV4 commented on #385
Hi @merl-dev we're also seeing this over in https://github.com/quantopian/zipline/issues/1776. It looks like Yahoo has made some changes to their API and is expecting some sort of cookie/session tracking

[2017-05-17 14:54] merl-dev commented on #385
Yes it would appear so, the download link on a history request at yahoo finance has changed url, query params, and now includes a session token.  Do they ever document these changes?

[2017-05-19 02:33] closedLoop commented on #385
I've created a workaround that substitutes out yahoo for google data.  I'm sure there are some ticker mis-matches that could cause issues, but for my purposes tonight it solves it.  Pull request coming shortly

[2017-05-19 15:33] twiecki opened #387 "Travis is unhappy about pandas"
[code]

[2017-05-19 18:56] gusgordon opened #388 "Allow passing a sector_mapping that changes with time"
Currently, pyfolio only allows sector mappings that are constant with time. Very occasionally, however, stocks can change sectors, which makes the mapping incorrect for some lookback periods. This can cause confusion.

One simple way to do this would be to also allow passing a DataFrame of sector mappings with time, where the frequency of the index can be daily, monthly, etc.

[2017-05-24 14:20] gusgordon commented on #385
There's an unmerged fix in `pandas-datareader`: https://github.com/pydata/pandas-datareader/pull/331 I suppose we should wait until they push this and do a release.

After that's implemented, we can bump the required version of datareader. We could also additionally put in the Google fallback in https://github.com/quantopian/pyfolio/pull/386.

@twiecki thoughts?

[2017-05-24 15:48] twiecki commented on #385
Yes agreed. And I like the idea of a fallback.

On May 24, 2017 4:20 PM, "Gus Gordon" <notifications@github.com> wrote:

[2017-05-27 11:08] hkopp commented on #278
I'll take a look at the first part, as this seems very basic.

[2017-06-07 16:05] engie-charles-dognin commented on #388
Hi,
The issue may not directly related to what you said before. It is related to the sector_mapping_example. When I execute this cell : "pf.create_position_tear_sheet(returns, positions, sector_mappings=sect_map)", I get the following error:

"ValueError                                Traceback (most recent call last)
<ipython-input-124-808eb1219408> in <module>()
----> 1 pf.create_position_tear_s

[2017-06-08 14:15] gusgordon commented on #388
Can you open a new issue?

[2017-06-12 10:46] twiecki commented on #387
There are quite a few other errors. @gusgordon do you have time to take a look?

[2017-06-12 14:49] gusgordon commented on #387
Not this week (I'm away for a few days) but probably next week.

[2017-06-12 16:08] twiecki commented on #387
@gusgordon Sorry for the ping, that's more than fine.

[2017-06-17 21:10] citynorman commented on #385
My super quick hack to get at least something going:
[code]

[2017-06-18 17:44] dartdog commented on #385
Just ran into this as I am trying to get started,, I tried just using the pandas datareader for Google but it seems that the various functions still refer to the now broken Yahoo in pf.create_returns_tear_sheet in the single stock example, so even though Id id the initial read of data from Google and put it in Stock_rets, I can't complete..  The example.. Is there a global work around? As it seems

[2017-06-22 08:30] chrism2671 commented on #385
I've just run into the same issue. It would be great to remove the dependence on external data and just make it an option.

[2017-06-22 20:43] dartdog opened #392 "Replaced Yahoo with Google as datasource but no example notebooks run"
I am on py3.6, np 1.13, Pandas 20.2 pandas-datareader 0.4.0
I installed this patch which seems to be fine for getting data from Google: https://github.com/quantopian/pyfolio/pull/386/commits/bfdfd3357008f783a2f82279ed544631cc515af2

The best example notebook I could get running seems to be the "Bayesian" notebook, It mostly runs, I do get this error in cell 4 but it does produce some charts and su

[2017-06-23 17:22] yehoshuadimarsky opened #393 "module 'empyrical' has no attribute 'information_ratio'"
When calling pyfolio.create_returns_tear_sheet(), I get this AttributeError:

Here's my config:
- Python 3.6.1
- Anaconda 4.4
- Microsoft Windows [Version 10.0.14393]
- latest pyfolio, just installed today
- empyrical 0.3.0 (from pip)

I looked at the source code of empyrical, can't find a module or actually anything called 'information_ratio.' Closest I could find is in the docstring for the Shar

[2017-06-23 17:37] gusgordon commented on #393
Hi, thanks for the report. Can you try downgrading to empyrical 0.2.2 (`pip install empyrical==0.2.2`)? Pyfolio as a whole is buggy right now, since we are waiting for `pandas_datareader` to get fixed.

[2017-06-23 18:00] yehoshuadimarsky commented on #393
Worked, thanks.

[2017-06-23 18:18] #393 closed

[2017-06-25 19:44] volkan commented on #392
Hi @dartdog this patch (https://github.com/quantopian/pyfolio/commit/bfdfd3357008f783a2f82279ed544631cc515af2) doesn't work exactly;

pyfolio/timeseries.py
[code]

I am getting this error.
[code]

[2017-06-27 00:38] dartdog commented on #392
see my discussion in empyrical there is a pyfolio patch..in master

[2017-06-28 14:20] Mustahsen opened #394 "Tearsheets on top of each other"
Hi,

When I run the single stock example I got a tearsheet like this:

![capture](https://user-images.githubusercontent.com/13386316/27641941-a68a586e-5c1d-11e7-8e78-7bdcb5de7145.PNG)

How can I solve this issue ?

[2017-06-30 03:15] apollo06 opened #396 "Yahoo API not working."
ConnectionError: HTTPConnectionPool(host='ichart.finance.yahoo.com', port=80): Max retries exceeded with url: /table.csv?ignore=.csv&f=2017&e=28&a=0&g=d&s=FB&b=1&d=5&c=1970 (Caused by NewConnectionError('<requests.packages.urllib3.connection.HTTPConnection object at 0x114c53198>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known',))

[2017-06-30 10:23] JP-MRPhys commented on #385
Same, issue, agree with chrism, maybe users can provide both returns (stocks/portfolio) and benchmark!

[2017-06-30 19:56] twiecki commented on #396
There is a fix here #395.

[2017-06-30 22:13] #385 closed

[2017-07-01 07:45] twiecki commented on #396
Should be fixed on master.

[2017-07-01 07:45] #396 closed

[2017-07-01 07:45] twiecki commented on #392
Should be fixed on master.

[2017-07-01 07:45] #392 closed

[2017-07-01 07:45] #387 closed

[2017-07-01 07:46] twiecki commented on #387
Fixed by #395 .

[2017-07-01 07:46] twiecki commented on #378
Fixed by #395.

[2017-07-01 07:46] #378 closed

[2017-07-01 07:46] #356 closed

[2017-07-01 07:47] twiecki commented on #346
Should be fixed.

[2017-07-01 07:47] #346 closed

[2017-07-01 14:31] dartdog opened #397 "Farma French example missing varnames?"
Thanks for all the recent fixes..
Running the Farma French benchmark example notebook I get

[code]

[2017-07-01 14:44] twiecki commented on #397
Which pymc3 version are you on? You should be on 3.1.

[2017-07-01 14:50] dartdog commented on #397
That is what I'm on installed via conda

[2017-07-01 15:01] dartdog commented on #397
FWIW I just installed zipline, and it clobbered a bunch of pyfolio depends eg it downgraded pandas to 18.. from 20.2 and took a bunch of other packages down,,, (thank goodness for conda, won't be too hard to get back..) I have pyfolio and my attempt at zipline in it's own (new) env..

[2017-07-07 21:09] crasteham opened #399 "ValueError when use create_returns_tear_sheet"
[file.zip](https://github.com/quantopian/pyfolio/files/1132338/file.zip)

When I run the use create_returns_tear_sheet() function, i got an error:
ValueError: Shape of passed values is (1, 512), indices imply (1, 511)

I used my own benchmark.

I have uploaded the files i use. Is it because of the packages versions?

Thanks!

——————————
INSTALLED VERSIONS
------------------
commit: None
python: 2.

[2017-07-12 03:16] georgh0021 opened #401 "Split plotting.py"
The functionality of pyfolio can be seen as computing measures of performance/risk, and plotting such measures for easy visualization by humans. Right now, the computing is done in respective modules (e.g. `pos.py`, `risk.py`) and all plotting is handled in `plotting.py`.

As discussed in #391, the maintainers have decided to split up `plotting.py`, moving the plotting functions into their corresp

[2017-07-13 15:37] georgh0021 commented on #379
This is a pretty serious bug. We need to get this fixed ASAP, especially given the work that is in the pipeline from #400 (i.e. the four-factor "post-Fama-French" alpha).

[2017-07-13 16:43] jlowin commented on #379
Indeed -- this could dramatically affect the attribution numbers that @georgh0021 is working on

[2017-07-14 02:10] georgh0021 commented on #370
Sounds like the problem has been resolved, closing this issue now.

[2017-07-14 02:10] #370 closed

[2017-07-14 02:30] georgh0021 commented on #269
@justinlent Responding a year late, but it sounds like `pyfolio.round_trips.extract_round_trips` would do what you need. It produces a DataFrame, with one column giving the duration of the round trip. Code [here](https://github.com/quantopian/pyfolio/blob/master/pyfolio/round_trips.py#L151) and documentation [here](https://quantopian.github.io/pyfolio/notebooks/round_trip_example/)

[2017-07-14 02:30] #269 closed

[2017-07-14 02:36] georgh0021 commented on #15
2 years down the line and pyfolio now has this functionality 😄  Closing this issue now.

[2017-07-14 02:36] #15 closed

[2017-07-14 02:42] georgh0021 commented on #271
Both [pyfolio](https://github.com/quantopian/pyfolio/blob/f0e8afc3b2f505ab03637547223cf86c22c8eedb/pyfolio/timeseries.py#L87) and [empyrical](https://github.com/quantopian/empyrical/blob/master/empyrical/stats.py#L235) can compute CAGR, although the function is deprecated in pyfolio.

[2017-07-14 02:42] #271 closed

[2017-07-14 02:45] georgh0021 commented on #238
Sounds like #400 will address this!

[2017-07-14 02:53] georgh0021 commented on #142
The [transactions tear sheet](https://github.com/quantopian/pyfolio/blob/master/pyfolio/txn.py) supports this analysis and more!

[2017-07-14 02:53] #142 closed

[2017-07-14 02:57] georgh0021 commented on #227
Implemented in the round trip tear sheet.

[2017-07-14 02:57] #227 closed

[2017-07-14 03:15] georgh0021 commented on #264
[This function](https://github.com/quantopian/pyfolio/blob/0a6e2dac75bc1f6c066ce877c9752e5cbe86c8fb/pyfolio/pos.py#L74) finds the concentration risk, but only the max and median... something to start with, I guess. Regardless, this sounds like a good plot to add to the risk tear sheet #391!

[2017-07-14 03:17] georgh0021 commented on #217
The volume and transactions tear sheet should support this analysis. There is also an illiquidity exposure plot in the risk tear sheet.

[2017-07-14 03:17] #217 closed

[2017-07-14 03:23] georgh0021 commented on #360
Good catch, but unfortunately its not the one-line change that it should be: both graphs are plotted using `plot_rolling_returns` in `plotting.py`. This should be an easy fix once #401 is merged though.

[2017-07-14 03:25] georgh0021 commented on #394
That a bit odd. How are you running pyfolio, and what version of matplotlib are you on?

[2017-07-14 03:37] georgh0021 commented on #381
PR #383 was closed at request of @bpajusco. Closing this issue as well.

[2017-07-14 03:37] #381 closed

[2017-07-14 03:48] georgh0021 commented on #144
Looks like #147 resolved this!

[2017-07-14 03:48] #144 closed

[2017-07-14 04:57] georgh0021 commented on #28
Couldn't find a `get_max_draw_down` function in the code base, assuming this issue has been resolved.

[2017-07-14 04:57] #28 closed

[2017-07-14 05:05] georgh0021 commented on #361
@luca-s sounds like a plan, want to submit a PR?

[2017-07-14 05:14] georgh0021 commented on #380
Hi there @citynorman, are you still experiencing this problem? Pandas data reader has just been fixed.

[2017-07-14 05:30] georgh0021 commented on #280
#278 addresses this idea. If anything, reducing the relationship between algo volatility and SPY volatility is a bit reductive: better to produce a plot.

[2017-07-14 05:30] #280 closed

[2017-07-14 08:44] #278 closed

[2017-07-14 11:05] luca-s commented on #361
sure!

[2017-07-17 10:15] MichJim opened #403 "Can import pyfolio in Ipython but not jupyter"
I tried to install pyfolio for the first time today.

My default python version is 2.7, did a $ pip install there

Tried in Python3, did a $ pip install there.  (python3   -m pip install pyfolio - install was completed)

In Jupyter notebook, I can access both Python2 and Python3.

after the $ pip install, I tried 'import pyfolio as py'

in both versions of Python in Jupyter, I got an error message

[2017-07-17 11:30] twiecki commented on #403
Are you using anaconda? I highly recommend installing that and trying again.

[2017-07-17 11:33] MichJim commented on #403
Thanks.  I had been using miniconda, will install anaconda

[2017-07-17 11:34] twiecki commented on #361
Closed by #361.

[2017-07-17 11:34] #361 closed

[2017-07-17 11:35] twiecki commented on #403
hm, miniconda should be fine. There is definitely a problem with the environment / installation. Not quite sure which. does `pip install pyfolio` followed by `python -c "import pyfolio"` work? That points to jupyter.

[2017-07-17 11:36] twiecki commented on #403
Ah, I think I know. I bet you're still using your system python somehow (either to install into or to run). miniconda should tell you to add something to your .bashrc file to automatically make you use the newly installed one.

[2017-07-17 11:39] MichJim commented on #403
tied the python -c "import pyfolio" but it didnt work

No.2 is prob correct, but not sure how I can resolve it

[2017-07-17 11:40] MichJim commented on #403
Thanks for the help - I am not an experienced Python user

[2017-07-17 11:41] MichJim commented on #403
(I was resigned to trying to make it all work in Ipython, which seems to work ..)

[2017-07-17 17:00] #403 closed

[2017-07-17 17:07] MichJim opened #404 "ran tear sheet on Panda dataframe - KeyError: "['Adj Close'] not in index""
ran the tear sheet in Pyfolio in Ipython

Created a data frame including

Date - 10 minutes data
Index - price
Returns - returns of the price index

I do not have an adjusted close in my data index...I got this error message when I ran the tear sheet, concluding remark was "Adj close not in index"

I thought it may be my issue with yahoo, so ran $ pip install yahoo finance

but I got the same erro

[2017-07-19 16:34] samwincott commented on #404
Using yahoo finance at all won't work I believe, as they no longer provide financial information.

[2017-07-20 03:54] georgh0021 commented on #404
@MichJim are you using the latest version of pyfolio? There was some issues with Yahoo finance a few weeks ago that have now been fixed. We now pull data from Google if Yahoo finance fails.

https://github.com/quantopian/pyfolio/blob/f0e8afc3b2f505ab03637547223cf86c22c8eedb/pyfolio/utils.py#L250

[2017-07-20 05:41] MichJim commented on #404
Thanks - i started using it this week.  I will check.

[2017-07-25 15:05] georgh0021 opened #405 "Return outputs of compute functions"
Currently, pyfolio takes inputs, feeds them into the `compute` functions, plots the output, and then (usually) throws away the results of the `compute` functions. This is undesirable, both for Q internal  use and open-source use.

Ideally, we would like `create_x_tear_sheet` to return an object that contains all the results of pyfolio analysis. E.g. a `round_trips_analysis` object/dict that I can

[2017-07-25 15:08] georgh0021 commented on #404
@MichJim Sounds like you've resolved your problem! Closing this issue now.

[2017-07-25 15:08] #404 closed

[2017-07-25 15:11] georgh0021 commented on #394
@Mustahsen Sounds like you've fixed your problem? Closing this issue now.

[2017-07-25 15:11] #394 closed

[2017-07-25 15:11] MichJim commented on #404
:-) thanks...

I handed in 3 projects and came on holiday ... sorry left it open. Was frenetic

Sent from my iPhone

[2017-07-25 20:53] georgh0021 commented on #404
Not at all, that's my job! Enjoy your holiday!

[2017-07-27 21:00] georgh0021 commented on #380
Sounds like there isn't a problem anymore, closing this issue

[2017-07-27 21:00] #380 closed

[2017-07-28 12:46] georgh0021 commented on #405
Proposal: we'll have a class called `analysis` which will serve as a container for all floats/series/dataframes produced by a tear sheet. This class can be instantiated by any tear sheet: i.e. we'll optionally return a `round_trips_analysis` object of we call `create_round_trips_tear_sheet` and pass in `return_analysis=True`.

@twiecki @gusgordon thoughts?

[2017-07-28 15:46] gusgordon commented on #405
Yes, I like that solution @georgh0021. Would analysis also include plots - ie matplotlib `plt` or `ax` objects? If not, `analysis` could also just be a dict that returns all the stats in the `perf_stats` table - that solution is much simpler.

Returning the plots is partially redundant, because we have a `return_fig` option on the tear sheets already. So I favor the dict solution, but I'm open.

[2017-07-28 18:08] georgh0021 commented on #405
@gusgordon I mainly just wanted a class so we could tab-complete on class attributes... 😃  But a dict would be easier to implement.

I agree about not needing to include `plt` and `ax` objects in the dict, however, I think we need to be more ambitious that just returning `perf_stats`: I'd like it so that if I called `create_round_trips_tear_sheet`, I'd get the `round_trips` dataframe, as well any

[2017-07-28 20:45] gusgordon commented on #405
Yup, agree. That all makes sense.

[2017-07-29 10:48] twiecki commented on #405
Maybe return a named tuple.

The more general way to solve this would be to convert pyfolio to an OO-style. Then one could do `algorithm.create_full_tear_sheet()`, `algorithm.perf_stats`, etc

[2017-07-31 17:17] georgh0021 commented on #379
It turns out that this is not as easy as I originally thought. We don't want a multivariate regression, we want a _rolling_ multivariate regression. Pandas used to support this sort of thing with 'pd.stats.ols.MovingOLS', but that has unfortunately been deprecated.

A solution is [described on StackOverflow](https://stackoverflow.com/questions/37317727/deprecated-rolling-window-option-in-ols-from-

[2017-07-31 17:35] jscotkin opened #407 "pyfolio no longer supports pandas < 0.20"
Pyfolio crashes (see below) on pandas 0.18 (or 0.19).  This causes a bit of trouble since Zipline doesn't support pandas > 0.18.  Running them in separate environments works.

The crash log below is on current git head.  Same notebook works fine with pandas 0.20.  I'm guessing it was introduced  with merge #395 , which had some datetime updates related to pandas, but could be wrong.

Thank you!

[

[2017-08-01 02:09] georgh0021 commented on #292
https://github.com/quantopian/pyfolio/blob/master/pyfolio/timeseries.py#L607 shows that we have a function to compute the VaR.

[2017-08-01 02:09] #292 closed

[2017-08-01 02:14] georgh0021 commented on #16
Looks like #391 addresses the issue of the risk factor betas, and #25 also expresses a similar need. Closing this issue now.

[2017-08-01 02:14] #16 closed

[2017-08-01 02:18] georgh0021 commented on #265
Looks like this would be solved by #400!

[2017-08-01 02:19] #265 closed

[2017-08-01 02:19] #238 closed

[2017-08-01 02:33] georgh0021 commented on #303
It appears that the Fama French factors go back to at least the beginning of 1950. Backtests that long would surely encounter numerous problems all over pyfolio: data source issues, extremely long compute times, difficult-to-read graphs, etc.

The main use case of pyfolio is not to give basic analysis for long periods of time, but to provide detailed analysis of a relatively short period of time (

[2017-08-01 02:33] #303 closed

[2017-08-01 05:01] georgh0021 commented on #58
Rolling regressions are now deprecated in pandas, and will be removed in a future version.  I 100% agree with the point about performance between `pd.ols` and `smf.ols`, but `statsmodels` does not seem to be implementing a rolling ols any time soon... for now, we'll have to write our own rolling regressions, iterating over a rolling window. This is the problem and solution that #406 has also encou

[2017-08-01 05:01] #58 closed

[2017-08-01 05:02] georgh0021 commented on #60
Closing due to the issue described in #58

[2017-08-01 05:02] #60 closed

[2017-08-01 05:12] georgh0021 commented on #14
We now have a round trip tear sheet, which should (hopefully) invalidate the need for a list of all positions for all time... Using round trips is a more nuanced way of analyzing the algo's performance, since it takes into account how often the algo rebalances, etc., and the round trip tear sheet gives much more detailed analysis that a straight-up printing of the positions (e.g. returns stats, pr

[2017-08-01 05:12] #14 closed

[2017-08-02 18:54] georgh0021 commented on #407
@gusgordon sounds like a pretty big compatibility issue

[2017-08-02 18:55] georgh0021 commented on #399
Hi @crasteham, could you please post the full stack trace?

[2017-08-03 15:58] twiecki commented on #407
CC @richafrank

[2017-08-04 17:37] Jstauth opened #409 "Remove "average" boolean input to txn.get_turnover() function"
Currently the get_turnover function accepts a boolean input 'Average=True/False' where -

Average==True triggers a code path that divides the day's traded value by 2 (thereby attempting to average the buys and sells placed by an algo in a given day).

Average==False (default) leaves the traded value as is.

For clarity we should remove this boolean so that we have only a single conventional defini

[2017-08-04 20:48] georgh0021 commented on #409
@Jstauth @twiecki is there an urgency/block on this issue?

[2017-08-05 01:57] citynorman commented on #380
This seems to have gone away but I'd still like the flexibility to disable the external dependency.

[2017-08-05 03:35] georgh0021 commented on #380
@citynorman could you open a new issue for disabling a the FF plots please? Sounds like an interesting point to discuss.

[2017-08-06 23:59] georgh0021 commented on #409
Note: `txn.get_turnover` actually defaults to `average=True`, not `False`

@Jstauth I dug around a bit and we actually use both versions in pyfolio. Here's a summary:

`average=False`: [full tear sheet](https://github.com/quantopian/pyfolio/blob/774174ecdfe4011845ae1ca40ca162c26cb70233/pyfolio/tears.py#L165), [simple tear sheet](https://github.com/quantopian/pyfolio/blob/774174ecdfe4011845ae1ca40c

[2017-08-07 00:33] gusgordon commented on #409
@georgh0021 since, as you said, turnover defaults to average=True, then the last case in your list of "average=False" should actually be in in the "average=True" list.

This means the only cases where average=False is used is in the first two cases you list, which is used for adjusting returns for slippage. This, I believe, is actually the correct usage here because we are using the turnover here

[2017-08-07 01:11] georgh0021 commented on #409
Oops, you're right. Fixed my comment.

It looks like the only thing we need to do is change the default to `average=False` (so it's less confusing to non-Q users) and update the docstring.

[2017-08-07 01:51] gusgordon commented on #409
Yup, sounds good. We should also confirm with jess/jonathan/dragan that we want the default to be divide by two.

[2017-08-07 19:25] eigenfoo opened #410 "Example notebooks don't work"
Some of the example notebooks are saved with the correct graphical output, but throw an error when you actually try to run the cells. We should definitely clean this up to make it easier for people to learn how to use pyfolio.

[2017-08-09 13:32] alen12345 opened #412 "Update package on quantopian channel for anaconda"
The package is still on version 0.5.1, which forces the use of pip in anaconda.

Please consider updating as for zipline, thank you.

AN

[2017-08-09 15:03] twiecki commented on #412
CC @richafrank

[2017-08-11 02:43] georgh0021 commented on #399
Closing due to inactivity.

[2017-08-11 02:43] #399 closed

[2017-08-11 02:50] georgh0021 commented on #109
Bump! @marketneutral expressed a need for a daily returns heat map so as to tell whether or not all the returns came a "black swan day" on a month with good returns, or other similar use cases. So a histogram will not suffice.

Clearly there are a lot of days in a backtest, so having a daily returns heat map will take up a lot of space. Perhaps default to not plotting it, and allow the user to opt

[2017-08-11 02:55] georgh0021 commented on #231
Fixed in [this commit](https://github.com/quantopian/pyfolio/commit/e2bf7fc0c52095addb0229f3dbbe2929b94afd31#diff-dd656075c4a67ac1cd34b18065e18791R633)

[2017-08-11 02:55] #231 closed

[2017-08-12 12:25] dalamar66 opened #413 "mktime in windows"
Using pyfolio 0.7.0 via anaconda - python 3.5 - pandas-0.20.3

Code:

[code]

Error:

`\lib\site-packages\pyfolio\tears.py in create_full_tear_sheet(returns, positions, transactions, market_data, benchmark_rets, slippage, live_start_date, sector_mappings, bayesian, round_trips, estimate_intraday, hide_positions, cone_std, bootstrap, unadjusted_returns, set_context)
    149
    150     if benchmark

[2017-08-12 16:56] georgh0021 commented on #413
Hi @dalamar, are you using the latest version of pyfolio? There was an issue with Yahoo and pandas data reader in pyfolio 0.7.0 that has since been patched.

[2017-08-14 02:32] eigenfoo opened #414 "New release for pyfolio"
It looks like [enough has changed](https://github.com/quantopian/pyfolio/compare/v0.7.0...master) on pyfolio to merit v0.8.0 (with risk and performance attribution, I think we might even want to call it v1.0.0!)

We are also seeing an increasing number of users running into bugs that have already been patched: upping the version would make it easier to diagnose errors (both ours, and open source u

[2017-08-14 11:55] twiecki commented on #414
Yes, should absolutely cut a new release! Want to do a PR that updates the version number?

[2017-08-15 01:37] georgh0021 commented on #414
I'll draft a release and organize a milestone so we know what PRs to wait for and what not to. A milestone will be better than an issue :)

[2017-08-15 06:04] georgh0021 commented on #211
Bump! As pyfolio gets larger and more complex, this issue costs us and our users a lot of time and frustration.

Using engarde's decorators sounds like exactly what we need. We should also try to make it so that the error messages are as descriptive and informative as possible.

I'll put this on my queue 🙂

[2017-08-15 06:08] georgh0021 commented on #211
It also looks like we can solve #165 using engarde: simply compare the lengths of the indices of both dataframes, and cut wherever necessary

[2017-08-15 10:24] twiecki commented on #211
@georgh0021 Yeah, that's a great place to have an impact.

[2017-08-15 14:10] gusgordon opened #415 "Standardize style (axis, legend, labels, capitalization, ...) across all plots"
Currently, pyfolio is a jumble of styles. Different plots have different looking legends, some plots don't have their labels capitalized, etc. Some differing style is obviously fine, but we should adopt a basic standard that is used in new plots.

I don't think this will too much effort — the bulk is just standardizing the legends, I believe. I'm not sure if breaking out some `style_plot` function

[2017-08-16 08:52] georgh0021 commented on #415
Also, while we're at it:
- Ensure that colors are differentiable (see #256)

[2017-08-17 19:27] Jstauth opened #418 "Add input parameter to Performance Attribution tearsheet for denominator"
Currently the performance attribution tearsheet uses an algo's "CNC" (current notional capital) as the denominator for returns computations. This is ok as the default going forward.

We need an input parameter to this analysis that allows us to use the GMV (gross market value) as the denominator. This analysis is useful for algos that use widely varying leverage.

@twiecki

[2017-08-17 19:31] Jstauth opened #419 "Add input parameter for denominator of "Actual Gross Book" to Risk Tearsheet"
Currently the risk tearsheet uses an algo's "CNC" (current notional capital) as the denominator for returns computations. This is ok as the default going forward.

We need an input parameter to this analysis that allows us to use the GMV (gross market value) as the denominator. This analysis is useful for algos that use widely varying leverage.

@twiecki

[2017-08-18 01:18] georgh0021 commented on #418
@vikram-narayan is still building the pyfolio-ready perf attrib tear sheet over at #417. @Jstauth you should touch base with him r.e. the definition of AGB

[2017-08-18 03:54] eigenfoo commented on #419
@Jstauth @twiecki sounds like a straightforward thing to do. Where can we find a definition of AGB?

[2017-08-18 07:37] twiecki commented on #418
The perf-attrib just requires returns, the denominator used for calculations of returns happens outside. Thus, you would just want to pass in the returns with den denominator of your choosing. A problem arises if we want `create_full_tear_sheet` with CNC returns but only the risk part with AGB returns. Is that a foreseeable use-case @Jstauth?

[2017-08-18 13:42] twiecki opened #420 "Add perf-attribution plots"

[2017-08-18 13:59] #420 closed

[2017-08-19 11:58] #410 closed

[2017-08-21 09:39] #379 closed

[2017-08-21 10:44] eigenfoo commented on #414
I just remembered @twiecki I had drafted a new release announcement on github, but since my access has been revoked I assume its lost. You can just use my comment above to draft a new one.

[2017-08-21 10:54] twiecki commented on #414
Nothing should get lost. It's either on a branch you pushed or on a local branch of yours. Where did you keep it?

[2017-08-21 10:59] eigenfoo commented on #414
As a draft release: click "10 releases" on the info bar on the pyfolio github home page.

[2017-08-21 15:09] eigenfoo opened #423 "Average # round trips per day/month"
I just noticed that there's a fixme in `roundtrips.py`; filing an issue so that it doesn't get forgotten.

https://github.com/quantopian/pyfolio/blob/17bbfe35e8a9731e045e19416b16e6d9807ad1f2/pyfolio/round_trips.py#L64-L72

[2017-08-23 10:04] #256 closed

[2017-08-23 10:04] #415 closed

[2017-08-23 10:49] eigenfoo commented on #414
@twiecki @gusgordon once @vikram-narayan's perf attributions are done we can cut a new version of pyfolio

[2017-08-23 10:53] twiecki commented on #414
We can probably already do that now given the changes and refactorings we have.

[2017-08-23 13:03] eigenfoo commented on #414
If you think that would be a good idea! 🎉

[2017-08-23 13:07] twiecki commented on #414
@eigenfoo Want to do a PR with the release announcements and version bump to `0.8.0`?

[2017-08-23 13:24] eigenfoo commented on #414
Will do!

[2017-08-23 13:49] twiecki opened #426 "Add pyfolio/perf_attrib.py to __init__.py"

[2017-08-23 14:00] eigenfoo commented on #426
`risk.py`, `round_trips.py`, `capacity.py` and `interesting_periods.py` are also not in `__init__.py`...

[2017-08-23 14:08] eigenfoo commented on #426
I've fixed this in #427

[2017-08-24 14:52] gusgordon opened #429 "Add tests for Fama-French"
We currently don't have tests for the Fama-French betas: https://github.com/quantopian/pyfolio/blob/master/pyfolio/timeseries.py#L550

We should have a few, including one that confirms the result is OK when insufficient data is passed.

[2017-08-25 21:50] Jstauth opened #431 "Refactor portfolio level returns in analyze_sim_run notebook"
Currently we compute portfolio level returns in the analyze_sim_run notebook using a weighted average of the returns to each algo in the portfolio.

It would be more proper to compute portfolio level returns from the aggregated portfolio state. Gus did take a stab at doing this, but we then discovered his first implementation had a bug in that it did not account for capital being rebalanced across

[2017-08-25 21:52] #431 closed

[2017-08-26 20:34] jonathanng commented on #393
This is still an issue with the latest empyrical.

[2017-08-30 10:15] davins90 opened #435 "Yahoo problem for Pyfolio usage"
Hi all,
i'm new on this community. I'm trying to use pyfolio packcage but when i run this parte of the code:
"stock_rets = pf.utils.get_symbol_rets('FB')"
i get that problem:
"ConnectionError: HTTPConnectionPool(host='ichart.finance.yahoo.com', port=80): Max retries exceeded with url: /table.csv?s=AGG&a=0&b=1&c=1970&d=7&e=29&f=2017&g=d&ignore=.csv (Caused by NewConnectionError('<requests.packages.

[2017-08-30 13:02] twiecki commented on #435
Can you update to master with:
`pip install -U --no-deps git+https://github.com/quantopian/pyfolio` and see if the problem persists?

[2017-08-30 17:07] eigenfoo opened #437 "Travis builds are taking very long"
We've been noticing that Travis builds are taking up a lot of time: well over 40 minutes in most cases, sometimes even timing out. In contrast, zipline's tests seem to take somewhere around 20 minutes apiece. This is affecting our ability to develop pyfolio.

@yankees714 @richafrank I think we'll need an engineer to weigh in on this: Gus, Thomas and I didn't really know what to do about this.

[2017-08-30 17:08] eigenfoo commented on #423
Oops, closing in favor of #340

[2017-08-30 17:08] #423 closed

[2017-08-31 08:01] #426 closed

[2017-09-01 16:20] twiecki opened #439 "performance attribution does not work correctly when percentages are passed in"
We need a flag that says whether `positions` are in $ or %. Calling `get_perc_alloc()` on % does not work.

[2017-09-01 16:29] vikram-narayan commented on #439
@twiecki what do you think about making `get_percent_alloc` return the input as is, if the input is already in %?

[2017-09-01 16:52] twiecki commented on #439
Question is if we can detect that reliably.

[2017-09-01 17:21] vikram-narayan commented on #439
ah gotcha. I'll add a flag which does that, and defaults to dollars

[2017-09-01 19:22] vikram-narayan commented on #439
added this flag to to the risk exposure plot PR: #433

[2017-09-06 14:15] davins90 commented on #435
hello,

thanks for your answer. Now there is a problem that gives the following error:

"mktime argument out of range"

thanks very much

I really would like to use pyfolio, but nothing seems works on my pc!

[2017-09-06 17:25] richafrank commented on #437
Seems like we've seen large variations in travis job times on zipline too. For example, python 3.5 took double that of python 3.4 on this [build](https://travis-ci.org/quantopian/zipline/builds/269802848). Not sure - maybe we just have to live with that on shared infrastructure?

Since some pyfolio tests in the "fast" cases still take 10 minutes (`pyfolio.tests.test_tears.PositionsTestCase.test_cr

[2017-09-10 06:18] bonesmccoy commented on #414
Hi, isn't the changes of requirements breaking the requirements of zipline 1.1.1

zipline 1.1.1 : pandas==0.18.1
pyfolio 0.8.0: pandas>=0.19.0

zipline 1.1.1: empyrical==0.2.2
pyfolio 0.8.0: empyrical>=0.3.2

Source:
Pyfolio: https://github.com/quantopian/pyfolio/blob/v0.8.0/setup.py
Zipline: https://github.com/quantopian/zipline/blob/1.1.1/etc/requirements.txt

you may say: you don't need ZL with

[2017-09-10 20:46] acaforio commented on #435
same for me...
same error....
I'm just trying to run the single stock example here:
https://quantopian.github.io/pyfolio/notebooks/single_stock_example/

and I stop at the first action:

stock_rets = pf.utils.get_symbol_rets('FB')

...
D:\Anaconda\lib\site-packages\pandas_datareader\yahoo\daily.py in _get_params(self, symbol)
     97
     98     def _get_params(self, symbol):
---> 99         unix_

[2017-09-11 12:48] twiecki commented on #414
@bonesmccoy Hm, that's indeed a pickle (no pun intended). The empyrical version mismatch should be fixed easily, the pandas one might be more tricky. CC @richafrank

[2017-09-11 12:50] twiecki commented on #414
We can probalby make pyfolio pandas 0.18.1 compat without too much effort (if it isn't already).

[2017-09-11 13:08] richafrank commented on #414
Yup, we'll be fixing the [pandas issue](https://github.com/quantopian/pyfolio/issues/407) soon, unless you get to it first.

zipline doesn't read the reqs.txt literally and actually supports empyrical>=2.2, so I don't think that's an issue here, unless you specifically want to use empyrical<0.3.2.

[2017-09-26 18:25] twiecki commented on #407
@jscotkin Which pandas version is that? The error is pretty confusing, what does `pd.to_datetime('1970-1-1')` do?

[2017-09-26 18:27] #439 closed

[2017-09-27 20:08] yankees714 commented on #368
Went back and investigated this - the issue here is not with `rolling` being time-series aware, but that the method wasn't yet added to `Series`. This happened in `0.18`, so `>=0.18` should be fine, `0.17.0` won't work.

http://pandas.pydata.org/pandas-docs/version/0.18.0/whatsnew.html#window-functions-are-now-methods

[2017-10-02 19:11] yankees714 commented on #407
@jscotkin I just merged support for pandas>=0.18.1 in #443, and haven't been able to reproduce this issue. Try updating to master, if you're still seeing issues feel free to open a more specific bug report.

[2017-10-04 19:05] CptanPanic opened #449 "ValueError: Shape of passed values is (1, 266), indices imply (1, 265)"
I just installed pyfolio and am trying a quick test, but get an error.  I am on ubuntu 16.04 and python3.

[code]

[code]

[2017-10-06 12:10] twiecki opened #450 "Split out function to compute just exposures"
Currently, `perf_attrib` first computes exposures and then does perf attribution. However, in some cases one might just want to compute exposures. As such, the function should be split into `compute_exposures` (everything until https://github.com/quantopian/pyfolio/blob/master/pyfolio/perf_attrib.py#L114) and `perf_attrib` (or better names). `perf_attrib` can just call that function itself.

[2017-10-08 10:33] JoaoAparicio opened #451 "Broken link"
In https://quantopian.github.io/pyfolio/ link to "slides of a recent talk about pyfolio" is broken.

[2017-10-10 00:26] fpaboim commented on #407
I installed from git, the pandas dependency is OK but I'm still getting the same error as the OP

[2017-10-10 09:12] twiecki commented on #407
@fpaboim Can you post the exception again, just to make sure?

[2017-10-12 14:11] yankees714 opened #454 "Intermittent test failures in test_tears.py"
When the failures occur, these tests always seem to fail:
- `test_create_bayesian_tear_sheet_breakdown`
- `test_create_full_tear_sheet_breakdown`
- `test_create_interesting_times_tear_sheet_breakdown`
- `test_create_returns_tear_sheet_breakdown`
- `test_create_simple_tear_sheet_breakdown`

while these seem to pass:
- `test_create_position_tear_sheet_breakdown`
- `test_create_round_trip_tear_sheet_

[2017-10-14 01:42] emin63 opened #456 "How to use with minute frequency data?"
Hello. Is it possible to use pyfolio with minute frequency data?

When I try, I get the error
[code]
from `pyfolio.utils.extract_rets_pos_txn_from_zipline`.

[2017-10-16 14:26] gusgordon commented on #456
Hi @emin63, there are some quirks of using pyfolio with minutely data — I would resample to daily before passing to pyfolio.

That error seems unrelated, though. What are the columns of your `transactions` DataFrame?

[2017-10-17 15:06] Granger7 commented on #449
I'm having the exact same problem (discrepancy of exactly 1), but with a different size frame:

Did you have any luck fixing this, or anybody else have an idea?

[2017-10-17 16:37] CptanPanic commented on #449
@Granger7 no I haven't figured it out, and it makes pyfolio unusable for me.  Was hoping someone familiar with the code would have jumped in by now.

[2017-10-18 01:09] rapetter94 opened #458 "-cancelled-"

[2017-10-19 15:36] #458 closed

[2017-10-21 05:37] eigenfoo commented on #449
Hi @CptanPanic, just a guess, but are you on the latest version of `empyrical`? There've been quite a few changes lately, so that might be the problem. If not, @twiecki should be able to help: the stack trace leads back to `empyrical`, which might be worrying.

[2017-10-23 22:43] fpaboim commented on #407
Sorry, couldn't reproduce this. I've messed a lot with pip and python installations, and got it to work with pandas 0.18, don't know how the issue started..

[2017-10-24 07:56] twiecki commented on #407
We fixed the issue :).

[2017-10-26 21:56] gusgordon opened #462 "Be robust to nonexistant Fama-French data"
The Fama-French data hasn't been updated in a couple months: http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html

If a tearsheet is being run with returns data that is purely outside of the FF coverage range, for example if the algo just has returns in the past two weeks, then the tear sheet will fail with this:

[code]

This is currently blocking us from running tear sheets o

[2017-10-27 10:54] twiecki commented on #462
It might! I'll try and finish that.

[2017-10-30 18:25] j220 commented on #449
I am getting the same error. Empyrical and all other dependencies are up to date. Any solutions to this issue?

[2017-11-01 12:14] twiecki commented on #449
@CptanPanic Looks like you're passing in a dataframe where a Series is expected.

@j220 This should be fixed on master, can you update via: `pip install -U --no-deps git+https://github.com/quantopian/alphalens`

[2017-11-01 12:39] j220 commented on #449
Thanks for the help @twiecki. I updated but the error is still the same.

[2017-11-01 12:46] twiecki commented on #449
Oops, I had an error above, should be: `pip install -U --no-deps git+https://github.com/quantopian/pyfolio`